
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Services</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('services'); ?>">Services</a></li>
    <li class="active"><a href="#">Nuevo</a></li>
</div>


<br>

<form class="form-horizontal" accept-charset="UTF-8" action="<?php echo $this->url('services',array('action'=>'add')); ?>" method="post">
    <fieldset>

      <div class="form-group">
        <label for="username" class="col-lg-4 col-md-4 control-label">Nombre:</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" required="true" id="name" placeholder="Nombre del Servicio" type="text" name="name" value="">
        </div>
      </div>

       <div class="form-group">
        <label for="username" class="col-lg-4 col-md-4 control-label">Categoria:</label>
        <div class="col-lg-5 col-md-5">
        <select class="form-control" id="category" name="category">
          <option value="1">Usuarios</option>
          <option value="2">Grupos</option>
        </select>
        </div>
      </div>

      

      <p>&nbsp;</p>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('services',array('action'=>'list')); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </fieldset>
  </form>
