
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Servicios</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class="active"><a href="<?php print $this->url('services'); ?>">Servicios</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('services',array("action"=>"add")); ?>">Nuevo servicio</a>
        <br>Crea un nuevo servicio
    </p>

    <p>
        <a href="<?php print $this->url('services',array("action"=>"list")); ?>">Listado de servicio</a>
        <br>Listado de todos los servicio
    </p>

</div>