
<div class="col-lg-12">
    <h1 class="page-header">Mi Perfil</h1>
</div>

<div class="nav nav-tabs">
    <li class="active"><a href="#">Perfil</a></li>
    <li><a href="<?php print $this->url('profile',array('action'=>'password')); ?>">Cambiar Contraseña</a></li>
</div>

<br>

        <form class="form-horizontal">
            <fieldset>

              <div class="form-group">
                <label for="username" class="col-lg-4 col-md-4 control-label">Usuario</label>
                <div class="col-lg-5 col-md-5">
                    <?php print $this->user->username; ?>                  
                </div>
              </div>
              
              <div class="form-group">
                <label for="name" class="col-lg-4 col-md-4 control-label">Nombre Completo</label>
                <div class="col-lg-5 col-md-5">
                    <?php print $this->user->name; ?>               
                </div>
              </div>
              
              <div class="form-group">
                <label for="email" class="col-lg-4 col-md-4 control-label">Correo Electrónico</label>
                <div class="col-lg-5 col-md-5">
                    <?php print $this->user->email; ?>             
                </div>
              </div>
              
              <div class="form-group">
                <label for="phone" class="col-lg-4 col-md-4 control-label">Teléfono</label>
                <div class="col-lg-5 col-md-5">
                    <?php print $this->user->phone; ?>                 
                </div>
              </div>
              
              <div class="form-group">
                <label for="mobile" class="col-lg-4 col-md-4 control-label">Celular</label>
                <div class="col-lg-5 col-md-5">
                    <?php print $this->user->mobile; ?>
                </div>
              </div>
              
              <hr/>
              
              <div class="form-group">
                <label for="mobile" class="col-lg-4 col-md-4 control-label">Grupo</label>
                <div class="col-lg-5 col-md-5">
                    <?php print $this->user->group; ?>
                </div>
              </div>
              
              <div class="form-group">
                <label for="mobile" class="col-lg-4 col-md-4 control-label">Perfil</label>
                <div class="col-lg-5 col-md-5">
                    <?php print $this->user->role; ?>
                </div>
              </div>
              
              <hr/>
              
              <div class="form-group">
                <label for="mobile" class="col-lg-4 col-md-4 control-label">Usuario vence</label>
                <div class="col-lg-5 col-md-5">
                    <?php print $this->user->expire; ?>
                </div>
              </div>
              
              <div class="form-group">
                <label for="mobile" class="col-lg-4 col-md-4 control-label">Contraseña vence</label>
                <div class="col-lg-5 col-md-5">
                    <?php print $this->user->expirePassword; ?>
                </div>
              </div>
              
              <div class="form-group">
                <label for="mobile" class="col-lg-4 col-md-4 control-label">Fecha de creación</label>
                <div class="col-lg-5 col-md-5">
                    <?php print $this->user->createdDate; ?>
                </div>
              </div>
              
              <p>&nbsp;</p>
              <div class="alert mutted"><em>(*) Para cambiar algún dato comunicarse con el administrador del sistema.</em></div>

            </fieldset>
          </form>