
<div class="col-lg-12">
    <h1 class="page-header">Mi Perfil</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('profile'); ?>">Perfil</a></li>
    <li class="active"><a href="#">Cambiar Contraseña</a></li>
</div>

<br><br>

        <form class="form-horizontal" accept-charset="UTF-8" role="form" action="<?php echo $this->url('profile',array('action'=>'password')); ?>" method="post">
            <input id="id" type="hidden" name="id" value="<?php print $this->id; ?>">
            <fieldset>
              
              <div class="form-group <?php in_array("current", $this->errors)?print "has-error":""; ?>">
                <label for="inputPassword" class="col-lg-4 col-md-4 control-label">Actual Contraseña</label>
                <div class="col-lg-5 col-md-5">
                    <input class="form-control" id="current" placeholder="Actual" type="password" name="current" value="<?php print $this->form->get('current')->getValue(); ?>" autocomplete="off">                  
                </div>
              </div>
              
              <div class="form-group <?php in_array("password", $this->errors)?print "has-error":""; ?>">
                <label for="inputPassword" class="col-lg-4 col-md-4 control-label">Nueva Contraseña</label>
                <div class="col-lg-5 col-md-5">
                    <input class="form-control" id="password" placeholder="Nueva" type="password" name="password" value="<?php print $this->form->get('password')->getValue(); ?>" autocomplete="off">                  
                </div>
              </div>
              
              <div class="form-group <?php in_array("confirm", $this->errors)?print "has-error":""; ?>">
                <label for="inputPassword" class="col-lg-4 col-md-4 control-label">Confirma Nueva Contraseña</label>
                <div class="col-lg-5 col-md-5">
                    <input class="form-control" id="confirm" placeholder="Confirma" type="password" name="confirm" value="<?php print $this->form->get('confirm')->getValue(); ?>" autocomplete="off">                  
                </div>
              </div>
              
              <p>&nbsp;</p>

              <div class="form-group">
                <div class="col-lg-6 col-md-6 col-lg-offset-4">
                  <a href="<?php print $this->url('profile'); ?>" class="btn btn-default">Cancelar</a>
                  <button type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>
              
              <?php if(!empty($this->error_message)) { ?>
                <div class="alert alert-dismissable alert-danger">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <strong><?php print $this->error_message; ?></strong>
                </div>
              <?php } ?>

            </fieldset>
          </form>

<script>
$(document).ready(function(){
    $("input#password").keyup(function(){
        if($(this).val() !== ""){
            $("input#changePassword").removeAttr("disabled");
        } else {
            $("input#changePassword").attr("disabled","disabled");
        }
    });
});
</script>
