<style>
    body {
        padding-top: 0px !important;
        background: url(<?php echo $this->basePath() . "/img/login_bg.jpg" ?>) no-repeat center center fixed;
        background-color: #eaeaea;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    div.container#container-login {
        margin-top: 13%;
    }
    
    #logo {
        font-family: 'Titillium Web', sans-serif;
        color: #1E9DE5;
        text-shadow: 2px 2px white;
    }
    
    #logo-header {
        font-size: 60px;
    }
    
    #logo-description {
        font-size: 25px;
        color: #F45C25;
    }
    
    footer {
        color: black;
        background-color: white;
        border-top: solid 2px #067AB3;
        padding: 2px;
        opacity:1;
        filter:alpha(opacity=100); /* For IE8 and earlier */
    }
    
    .top {
        background-color: #067AB3;
        height: 2px;
    }
</style>
<p class="lead">&nbsp;</p>
<p class="lead">&nbsp;</p>
<div class="panel panel-default col-md-8 col-md-offset-2">
    <div class="panel-body">
        <form class="form-horizontal" accept-charset="UTF-8" role="form" action="<?php echo $this->url('profile',array('action'=>'reset')); ?>" method="post">
            <input id="id" type="hidden" name="id" value="<?php print $this->id; ?>">
            <fieldset>
              <legend>Cambiar contraseña<br/><br/>    </legend>

              <p>&nbsp;</p>
              <div class="form-group <?php in_array("password", $this->errors)?print "has-error":""; ?>">
                <label for="inputPassword" class="col-lg-5 col-md-5 control-label">Nueva Contraseña</label>
                <div class="col-lg-5 col-md-5">
                    <input class="form-control" id="password" placeholder="Nueva" type="password" name="password" value="<?php print $this->form->get('password')->getValue(); ?>" autocomplete="off">                  
                </div>
              </div>
              
              <div class="form-group <?php in_array("confirm", $this->errors)?print "has-error":""; ?>">
                <label for="inputPassword" class="col-lg-5 col-md-5 control-label">Confirma Nueva Contraseña</label>
                <div class="col-lg-5 col-md-5">
                    <input class="form-control" id="confirm" placeholder="Confirma" type="password" name="confirm" value="<?php print $this->form->get('confirm')->getValue(); ?>" autocomplete="off">                  
                </div>
              </div>
              
              <p>&nbsp;</p>

              <div class="form-group">
                <div class="col-lg-6 col-md-6 col-lg-offset-5">
                  <a href="<?php print $this->url('auth',array('action' => 'logout')); ?>" class="btn btn-default">Cancelar</a>
                  <button type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>
              
              <?php if(!empty($this->error_message)) { ?>
                <div class="alert alert-dismissable alert-danger">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <strong><?php print $this->error_message; ?></strong>
                </div>
              <?php } ?>

            </fieldset>
          </form>
    </div>
</div>

<script>
$(document).ready(function(){
    $("input#password").keyup(function(){
        if($(this).val() !== ""){
            $("input#changePassword").removeAttr("disabled");
        } else {
            $("input#changePassword").attr("disabled","disabled");
        }
    });
});
</script>
