
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Casos o Escenarios</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('case'); ?>">Servicios</a></li>
    <li class="active"><a href="#">Nuevo</a></li>
</div>

<br>

<form class="form-horizontal" accept-charset="UTF-8" case="form" action="<?php echo $this->url('case',array('action'=>'add')); ?>" method="post">
    <fieldset>

      <div class="form-group">
        <label for="username" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="name" placeholder="Nombre del servicio" type="text" name="name">
        </div>
      </div>
        
      <div class="form-group">
        <label for="username" class="col-lg-4 col-md-4 control-label">Descripción</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="description" placeholder="Descripción" type="text" name="description">
        </div>
      </div>

    

      <p>&nbsp;</p>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('case'); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </fieldset>
  </form>