
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Casos o Escenarios</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('case'); ?>">Casos o Escenarios</a></li>
    <li><a href="<?php print $this->url('case',array('action'=>'list')); ?>">Listado</a></li>
    <li class="active"><a href="#">Editar</a></li>
</div>

<br>

<form class="form-horizontal" accept-charset="UTF-8" case="form" action="<?php echo $this->url('case',array('action'=>'edit','id'=>$this->case->id)); ?>" method="post">
    <input id="id" type="hidden" name="id" value="<?php print $this->case->id; ?>">
    <fieldset>

      <div class="form-group">
        <label for="username" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="name" placeholder="Nombre del servicio" type="text" name="name" value="<?php print $this->form->get('name')->getValue(); ?>">
        </div>
      </div>
        
      <div class="form-group">
        <label for="username" class="col-lg-4 col-md-4 control-label">Descripción</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="description" placeholder="Descripción" type="text" name="description" value="<?php print $this->form->get('description')->getValue(); ?>">
        </div>
      </div>
       

      <p>&nbsp;</p>
      
    </fieldset>
    

    <div class="form-group">
      <div class="col-lg-5 col-md-5 col-lg-offset-4">
          <a href="<?php print $this->url('case',array('action'=>'list')); ?>" class="btn btn-default">Cancelar</a>
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </div>

  </form>