
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Casos o Escenarios</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class="active"><a href="<?php print $this->url('case'); ?>">Casos o Escenarios</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('case',array("action"=>"add")); ?>">Nuevo escenario</a>
        <br>Crea un nuevo escenario para aprovisionar
    </p>

    <p>
        <a href="<?php print $this->url('case',array("action"=>"list")); ?>">Listado de escenarios</a>
        <br>Listado de todos los casos o escenarios
    </p>

</div>