
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Casos o Escenarios</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('case'); ?>">Servicios</a></li>
    <li><a href="<?php print $this->url('case',array('action'=>'list')); ?>">Listado</a></li>
    <li><a href="<?php print $this->url('case',array('action'=>'edit','id'=>$this->case->id)); ?>">Editar</a></li>
    <li class="active"><a href="#">Secuencia de plantillas</a></li>
</div>

<br>


        <div class="table" id="xmltemplates">
            
            
        </div>
        <button class="btn btn-info" type="button" id="addXmlTemplate">Adicionar plantilla <i class="fa fa-plus"></i></button>

    <div class="form-group">
      <div class="col-lg-5 col-md-5 col-lg-offset-4">
          <a href="<?php print $this->url('case',array('action'=>'list')); ?>" class="btn btn-default">Cancelar</a>
          <button type="button" class="btn btn-success" id="submit">Guardar</button>
      </div>
    </div>

<script type="text/javascript">
var obj = {
    
    xmltemplateCount : 0,
    sequenceCount : 0,
    
    
    addXmlTemplate : function(xmltemplateId,priority){
        var tr_start    = "<tr>";
        var tr_end      = "</tr>";
        var td_start    = "<td>";
        var td_end      = "</td>";
        var form_start  = "<form>";
        var form_end    = "</form>";
        var table_start = "<table class='table'>";
        var table_end   = "</table>";
        
        var selectXmlTemplate = "<select class='form-control' name='xmltemplateId' id='xmltemplate"+ ++obj.xmltemplateCount +"'> " +
                <?php foreach ($this->xmltemplates as $key => $value) {
                        print '"<option value='.$key.'>'.$value.'</option>" + ';
                } ?>
                            "</select>";
                            
        var selectSequence = "<select class='form-control' name='priority' id='sequence"+ ++obj.sequenceCount +"'>  " +
                
                <?php for($i = 1;$i<=20;$i++) {
                        print '"<option value='.$i.'>'.$i.'</option>" + ';
                } ?>
                            "</select>";
                            
        var caseInput = "<input id='caseId' type='hidden' name='caseId' value='<?php print $this->case->id; ?>'>";
        
        var deleteXmlTemplate = "<button id='"+obj.xmltemplateCount+"' type='button' onclick='obj.delete("+obj.xmltemplateCount+");' class='btn btn-link btn-sm text-danger'><i class='fa fa-trash-o'></i> Eliminar</button>";
                            
        var line = form_start + table_start +
                        tr_start +
                            td_start + selectXmlTemplate + td_end + 
                            td_start + selectSequence + caseInput + td_end +
                            td_start + deleteXmlTemplate + td_end +
                        tr_end +
                    table_end + form_end;
        //alert(line);
                            
        $("div#xmltemplates").append(line);
        $("select#xmltemplate"+obj.xmltemplateCount).val(xmltemplateId);
        $("select#sequence"+obj.sequenceCount).val(priority);
        
    },
            
    getData : function(){
        var theJsonArray    = Array();
        var thePriorityArray   = Array();
        var isValid             = true;

        $("form").each(function(){
                theJsonObject = $(this).serializeObject();
                theJsonArray.push(theJsonObject);
        });
        
        $.each(theJsonArray,function(){
            if($.inArray(this.priority,thePriorityArray) == -1 && isValid){
                if(this.priority == 0 || this.priority === null || this.priority == "" 
                        || typeof this.priority == "undefined"
                        || typeof this.xmltemplateId == "undefined"){
                    isValid = false;
                } else {
                    thePriorityArray.push(this.priority);
                }
            } else {
                isValid = false;
            }
        });
        
        if(!isValid){
            alert("Existe plantillas con el mismo número de secuencia o vacíos!");
            return;
        }

        var theJsonArrayString = JSON.stringify(theJsonArray);

        $.ajax({
            type: "POST",
            url: "<?php echo $this->url('case',array('action'=>'xmltemplate','id'=>$this->case->id)); ?>",
            data: theJsonArrayString,
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            success: function(data){
                if(data.result == "error"){
                    alert("Ocurrió un error al guardar las plantillas!");
                } else {
                    //alert("Comandos salvados!");
                    location.href = "<?php echo $this->url('case',array('action'=>'list')); ?>";
                }
            }
        });

    },
    
    delete : function(id){
        var form = $("button#"+id).parent().parent().parent().parent().parent();
        form.fadeOut(500);
        form.remove();
    },
    
    init : function(){
        <?php foreach ($this->casexmltemplates as $xmltemplate_id => $priority) {
                print 'obj.addXmlTemplate('.$xmltemplate_id.','.$priority.');';
        } ?>
    }
};
$(document).ready(function(){
    $("button#addXmlTemplate").click(obj.addXmlTemplate);
    $("button#submit").click(obj.getData);
    
    obj.init();
});

$.fn.serializeObject = function() {
        var o = Object.create(null),
            elementMapper = function(element) {
                element.name = $.camelCase(element.name);
                return element;
            },
            appendToResult = function(i, element) {
                var node = o[element.name];

                if ('undefined' != typeof node && node !== null) {
                    o[element.name] = node.push ? node.push(element.value) : [node, element.value];
                } else {
                    o[element.name] = element.value;
                }
            };

        $.each($.map(this.serializeArray(), elementMapper), appendToResult);
        return o;
    };
</script>