<?php 
    if(!isset($_SESSION['platform'])){
        echo "<script>window.location = '". $this->basePath() ."/broadsoft';</script>";
    }
?>
<style>
    body {
        padding-top: 0px !important;
        background: url(<?php print $this->basePath() . "/img/login_bg.jpg"; ?>) no-repeat center center fixed;
        background-color: #eaeaea;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    div.container#container-login {
        margin-top: 13%;
    }
    
    #logo {
        font-family: 'Titillium Web', sans-serif;
        color: #1E9DE5;
        text-shadow: 2px 2px white;
    }
    
    #logo-header {
        font-size: 60px;
    }
    
    #logo-description {
        font-size: 25px;
        color: #F45C25;
    }
    
    footer {
        color: black;
        background-color: white;
        border-top: solid 2px #067AB3;
        padding: 2px;
        opacity:1;
        filter:alpha(opacity=100); /* For IE8 and earlier */
    }
    
    .top {
        background-color: #067AB3;
        height: 2px;
    }
</style>

<div class="container" id="container-login">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" id="logo">
            <center id="logo-header">NEXUS</center>
            <center id="logo-description">Switch De Broadworks<br> <?php print $_SESSION['platform']; ?></center>
            <hr/>
            <center><img src="<?php print stripos($_SESSION['platform'],'rnms')!==false?$this->basePath() . "/img/logo_gob1.png":$this->basePath() . "/img/CableWireless.png"; ?>" height="50%" width="50%"/></center>
        </div>

    	<div class="col-md-4 col-lg4 col-sm-4 col-xs-4">
    		<div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><center>Iniciar Sesión</center></h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" action="<?php echo $this->url('auth',array('action'=>'authenticate')); ?>" method="post">
                            <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Usuario o Email" name="username" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Contraseña" name="password" type="password" value="">
                                    </div>
                                    <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me"> Recordarme
                                    </label>
                                    </div>
                                <div class="form-group"><a href="<?php echo $this->url('broadsoft'); ?>">Seleccionar Plataforma</a></div>
                                <br><button class="btn btn-md btn-<?php print $this->platform->class; ?> btn-block" type="submit">Entrar</button>
                                
                            </fieldset>
                            <p>&nbsp;</p>
                            <?php echo $this->flashMessenger()->render('error',   array('alert', 'alert-dismissable', 'alert-danger')); ?>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
