
<div class="col-lg-12">
    <h1 class="page-header">Configuración</h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class="active"><a href="<?php print $this->url('configuration'); ?>">Configuración</a></li>    
</div>

<br>

<div class="col-lg-12 col-md-12">

    <p>
        <a href="<?php print $this->url('user'); ?>">Usuarios</a>
        <br>Muestra el listado de los usuarios en el sistema
    </p>

    <p>
        <a href="<?php print $this->url('role'); ?>">Perfiles</a>
        <br>Muestra el listado de los perfiles en el sistema
    </p>

    <p>
        <a href="<?php print $this->url('group'); ?>">Grupos</a>
        <br>Muestra el listado de los grupos o departamentos para categorizar a los usuarios
    </p>

    <p>
        <a href="<?php print $this->url('preference'); ?>">Preferencias</a>
        <br>Muestra las configuraciones de preferencias técnicas para el funcionamiento del sistema
    </p>

    

</div>