<div class="col-lg-12">
    <h1 class="page-header">Device Manager <small></small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class="active"><a href="<?php //print $this->url('devicemanager'); ?>">Device Manager</a></li>
</div>

<br>

 <div class="col-lg-12 col-md-12">

    <p>
        <a href="<?php print $this->url('devicetype'); ?>">Dispositivos</a>
        <br>Configuración de dispositivos ATA
    </p> 
   
    <p>
        <a href="<?php print $this->url('ini'); ?>">Ficheros INI</a>
        <br>Configuración de plantillas de ficheros *.ini
    </p>

    <p>
        <a href="<?php print $this->url('firmware'); ?>">Firmware</a>
        <br>Administración de firmware de dispositivos
    </p>

    <p>
        <a href="<?php print $this->url('inivariable'); ?>">Opciones y variables</a>
        <br>Configuración de opciones y variables
    </p>
</div>
