
<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    
    <li class="active"><a href="#">Nueva Orden</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo 
$this->url('order',array('action'=>'add','id' => $order->id )); ?>" method="post">
    
    <fieldset>
      <?php print $this->formHidden($form->get('platformId')); ?>
      <legend>Información General de la Orden</legend>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">CIS ORDEN ID</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('cisid')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Caso o Escenario</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formSelect($form->get('caseId')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Comentario o Descripción</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formTextarea($form->get('description')); ?>
        </div>
      </div>
    
    </fieldset>
  

  <?php if ($this->step == 2) { ?>   
    
    <fieldset>
      
      <legend>Información Del Grupo O Cliente</legend>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">CIS CLIENTE ID</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('cisId')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('name')); ?>
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre de Contacto</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('contactName')); ?>
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Número de Contacto</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('contactNumber')); ?>
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Email de Contacto</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('contactEmail')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Limite de Usuarios</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('userlimit')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Producto</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formSelect($form->get('productId')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Zona Horaria</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($form->get('timezone')); ?>
        </div>
      </div>
    
    </fieldset>
<?php } ?>
<?php if ($this->step == 3) { ?>  
    <fieldset>
      
      <legend>Dispositivos</legend>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre Del Dispositivo</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="name" placeholder="Nombre Del Dispositivo" type="text" name="name">
        </div>
      </div>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Tipo De Dispositivo</label>
        <div class="col-lg-5 col-md-5">
            <select class="form-control" id="type" type="text" name="type">
                <option>AudioCodes MP-112</option>
            </select>
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Protocolo</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="protocol" value="SIP 2.0" type="text" name="protocol" readonly="yes">
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label"></label>
        <div class="col-lg-5 col-md-5">
          <input class="" id="flag" value="1" type="checkbox" name="flag"> 
          Al guardar este dispositivo volver a mostrar este formulario para adicionar otro   
        </div>
      </div>
    
    
    </fieldset>
<?php } ?>

<?php if ($this->step == 4) { ?>  
    <fieldset>
      
      <legend>Usuarios</legend>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="firstname" placeholder="Nombre Del Usuario" type="text" name="firstname">
        </div>
      </div>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Apellido</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="lastname" placeholder="Apellido Del Usuario" type="text" name="lastname">
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">UserID / Username</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="userid" value="" type="text" name="userid">
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Idioma</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="language" value="Spanish" type="text" name="language">
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Zona Horaria</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($form->get('timezone')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label"></label>
        <div class="col-lg-5 col-md-5">
          <input class="" id="flag" value="1" type="checkbox" name="flag"> 
          Al guardar este usuario volver a mostrar este formulario para adicionar otro   
        </div>
      </div>
    
    
    </fieldset>
<?php } ?>

<?php if ($this->step == 5) { ?>  
    <fieldset>
      
      <legend>Asignar número al cliente</legend>
        
  
        <div class="col-lg-3 col-md-3">
          Números Disponibles
          <?php print $this->formSelect($form->get('numberStock')); ?>
        </div>

        <div class="col-lg-1 col-md-1">
          <br><br>
          <button class="btn" type="button" id="add"> <strong>>></strong> </button>
          <button class="btn" type="button" id="remove"> <strong><<</strong> </button>
        </div>

        <div class="col-lg-3 col-md-3">
          Números Asignados Al Cliente
          <?php print $this->formSelect($form->get('number')); ?>
        </div>

    </fieldset>
    <script type="text/javascript">
      $(document).ready(function(){

          $("button#add").click(function(){
              values = $("select#numberStock").val();
              for (var i = 0; i > values.length; i++) 
              {
                var numero = values[i];
                $('select#number').append($('<option></option>').attr('value', numero).text(numero));
              }
          });

      });
    </script>
<?php } ?>

<?php if ($this->step < 6) { ?>  
      <p>&nbsp;</p>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('order'); ?>" class="btn btn-default">Cancelar</a>
            <button type="submit" class="btn btn-success">Siguiente <i class="fa fa-arrow-right"></i></button>

          <?php print_r( $this->error); ?>
        </div>
      </div>
<?php } ?>

  <?php if ($this->step == 8) { ?>  
    <fieldset>
      
      <legend>Generando Aprovisionamiento</legend>
      <div id="provisioningLog">
        
      </div>
      <div class='clearfix'></div>
      <img src="<?php echo $this->basePath(); ?>/img/ajax-loader.gif" id="loader"/>
      <p>&nbsp;</p><p>&nbsp;</p>
      <a href="<?php print $this->url('order'); ?>" class="btn btn-xsmall btn-info hide" id="listo">Listo</a>
  </fieldset>
  <script type="text/javascript">
  $(document).ready(function(){
      //setTimeout(provisioning,1000);
  });

  var interval = 500;
  var priority = 1;

  var step = 1;
  var done = "<span class='text-success pull-right col-md-5'><b>Hecho!</b></span>";
  var fail = "<span class='text-danger pull-right col-md-5'><b>Fallido!</b> </span>";
  var clearfix = "<div class='clearfix'><br></div>";
  var provisioned = "<span class='text-success pull-left col-md-12'><b>Orden aprovisionada con éxito!</b></span>";
  var rollback = "<span class='text-danger pull-left col-md-12'><b>Se realizará roll back de lo aprovisionado en breve y se notificará al equipo técnico de lo ocurrido para tomar una acción.</b></span>";

  function provisioning(){
    
      if(step == 1){
        div = $("<div class='col-md-12'><span class='badge'>1</span> Creando orden en nexus . . . </div>");
        $("div#provisioningLog").append(div);
        setTimeout(function(){
          div.append(done);
          div.after(clearfix);
          setTimeout(provisioning,interval);
        }, interval);
        step++;
        return;
      }

      if(step == 2){
        div = $("<div class='col-md-12'><span class='badge'>2</span> Creando xml(s) de aprovisionamiento . . . </div>");
        $("div#provisioningLog").append(div);
        setTimeout(function(){
          div.append(done);
          div.after(clearfix);
          setTimeout(provisioning,interval);
        }, interval);
        step++;
        return;
      }

      if(step == 3){
        div = $("<div class='col-md-12'><span class='badge'>3</span> Conectando con broadsoft . . .</div>");
        $("div#provisioningLog").append(div);
        setTimeout(function(){
          var jqxhr = $.get( '<?php print $this->basePath() . "/script/ping.php?h=".$host; ?>')
          .done(function(data) {
                if(data == '1'){
                  div.append(done);
                  step++;
                  setTimeout(provisioning,interval);
                } else {
                  div.append(fail);
                  $("img#loader").hide();
                }
                div.after(clearfix);
          })
          .fail(function(data) {
                div.append(fail);
                div.after(clearfix);
                $("img#loader").hide();
          });
          
        }, interval);
        return;
      }

      if(step >= 4){

        setTimeout(function(){
          var jqxhr = $.get( '<?php print $this->basePath() . "/script/provisioning.php?o=".$this->orderId; ?>')
          .done(function(data) {
                data = jQuery.parseJSON(data);
                div = $("<div class='col-md-12'><span class='badge'>4</span> "+data.name+" . . . </div>");
                
                //priority = data.nextpriority;
                if(data.result != 'error'){
                  if(data.result == 'last'){
                    $("div#provisioningLog").append($(provisioned));
                    $("img#loader").hide();
                    $("a#listo").removeClass("hide");
                  } else {
                    $("div#provisioningLog").append(div);
                    div.append(done);
                    step++;
                    setTimeout(provisioning,interval);
                  }
                } else {
                  $("div#provisioningLog").append(div);
                  div.append(fail);
                  div.append("<span class='text-danger pull-left col-md-12'> "+data.summary+"</span>");
                  $("img#loader").hide();
                  $("div#provisioningLog").append($(rollback));
                }
                div.after(clearfix);
          })
          .fail(function(data) {
                div.append(fail);
                div.after(clearfix);
                $("img#loader").hide();
          });
          
        }, interval);

        return;
      }
  }

  </script>
  <?php } ?>


  </form>
