
<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    
    <li class="active"><a href="#">Nueva Orden (Paso <?php print $order->currentStep; ?> de <?php print $order->totalStep; ?>)</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo $this->url('order',array('action'=>'systemdomainadd','id' => $order->id )); ?>" method="post">
     
    <fieldset>
      
      <legend>Dominio</legend>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formInput($this->form->get('name')); ?>
        </div>
      </div>
        
      

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <button type="submit" class="btn btn-success">Guardar <i class="fa fa-save"></i></button>
        </div>
      </div>
    </fieldset>

  
  </form>
    

    <p>&nbsp;</p>
    <hr>
    <div class="form-group">
      <div class="col-lg-5 col-md-5 col-lg-offset-4">
          <a href="<?php print $this->url('order',array('action'=>'previous','id'=>$order->id)); ?>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</a>
          <a href="<?php print $this->url('order'); ?>" class="btn btn-default">Cancelar</a>
        <a <?php if(count($users) > 0) { ?>href="<?php print $this->url('order',array('action'=>'next','id'=>$order->id)); ?>" <?php } ?> class="btn btn-success <?php if(count($users) == 0) { ?>disabled<?php } ?>">Siguiente <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>

  <script type="text/javascript">
  
  

  </script>

 
