<style type="text/css">
  .vertical-center {
    margin-top:100px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    height:200px;
}

</style>


<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    
    <li class="active"><a href="#">Nueva Orden (Paso <?php print $order->currentStep; ?> de <?php print $order->totalStep; ?>)</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo $this->url('order',array('action'=>'groupdnassignlist','id' => $order->id )); ?>" method="post">
     
    <fieldset>

        <legend>Asignar Número Al Grupo O Cliente</legend>
      
      <?php if( count($this->availableDnArray) > 0 ) { ?>
        <div class="col-lg-3 col-md-3">
          <label>Rangos Disponibles</label>
          <div class="clearfix"></div>
          <?php print $this->formSelect($form->get('availableDnRange')); ?>
        </div>

        <div class="col-lg-1 col-md-1 vertical-center">
          <button type="button" class="btn btn-default" id="addAvailable"><i class="fa fa-chevron-right"></i> </button>
        </div>

        <div class="col-lg-3 col-md-3">
          <label>Números Disponibles</label>
          <div class="clearfix"></div>
          <?php print $this->formSelect($form->get('availableDn')); ?>
        </div>

        <div class="col-lg-1 col-md-1 vertical-center">
          <button  type="button" class="btn btn-default" id="addAssigned"><i class="fa fa-chevron-right"></i> </button>
          <p>&nbsp;</p>
          <button  type="button" class="btn btn-default" id="removeAssigned"><i class="fa fa-chevron-left"></i> </button>
        </div>
      <?php } else { ?>

        <div class="col-lg-3 col-md-3">
          <label>Números A Utilizar</label>
          <div class="clearfix"></div>
          <p>&nbsp;</p>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">+507-</span>
            <input type="text" class="form-control" placeholder="2000000" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">+507-</span>
            <input type="text" class="form-control" placeholder="2000000" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">+507-</span>
            <input type="text" class="form-control" placeholder="2000000" aria-describedby="basic-addon1">
          </div>

        </div>

        <div class="col-lg-1 col-md-1 vertical-center">
          <button type="button" class="btn btn-default" id="addNoAvailable"><i class="fa fa-chevron-right"></i> </button>
          <p>&nbsp;</p>
          <button  type="button" class="btn btn-default" id="removeAssigned"><i class="fa fa-chevron-left"></i> </button>
        </div>

      <?php } ?>

        <div class="col-lg-3 col-md-3">
          <label>Números Asignados</label>
          <div class="clearfix"></div>
          <?php print $this->formSelect($form->get('groupDn')); ?>
        </div>
    
    
    </fieldset>

    <p>&nbsp;</p>
    <hr>
    <div class="form-group">
      <div class="col-lg-5 col-md-5 col-lg-offset-4">
          <a href="<?php print $this->url('order',array('action'=>'previous','id'=>$order->id)); ?>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</a>
          <a href="<?php print $this->url('order'); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success disabled" id="submit">Siguiente <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>

</form>


  <script type="text/javascript">
  $(document).ready(function() {
    
    $("button#addAvailable").click(function(event) {
      
      $("select#availableDnRange :selected").each(function(i, selected){ 
        //Obtenemos el valor del rango seleccionado
        value = $(selected).text(); 

        //Removemos el valor selecionado del select de rangos
        $(selected).remove();

        if(value.indexOf(' - ') === -1)
        {
              //Añadimos el valor al select de disponibles
              $("select#availableDn")
               .append($("<option></option>")
                .text(value));
        } else {
              //Dividimos el rango en numeros individuales y
              //los añadimos al select
              range = value.split(' - ');

              //Dividimos el numero con su prefijo +507
              startArray  = range[0].split('-');
              endArray    = range[1].split('-');

              //Obtenemos los numeros como enteros
              start  = parseInt(startArray[1]);
              end    = parseInt(endArray[1]);

              //Recorremos todo el rango añadiendo los valores al select
              for (var number = start; number <= end; number++) {
                  
                  //Añadimos el valor al select de disponibles
                  //Usamos el +507 (startArray[0] ó endArray[0]) + guión + numero
                  $("select#availableDn")
                   .append($("<option></option>")
                    .text( startArray[0] + '-' + number ));
              }

        }

      });

      sortSelect("availableDn");

    });






    $("button#addAssigned").click(function(event) {
      
      $("select#availableDn :selected").each(function(i, selected){ 
        //Obtenemos el valor del rango seleccionado
        value = $(selected).text(); 

        //Removemos el valor selecionado del select de rangos
        $(selected).remove();

        //Añadimos el valor al select de disponibles
        $("select#groupDn")
         .append($("<option></option>")
          .text(value));

      });

      sortSelect("availableDn");
      sortSelect("groupDn");

    });


    $("button#removeAssigned").click(function(event) {
      
      $("select#groupDn :selected").each(function(i, selected){ 
        //Obtenemos el valor del rango seleccionado
        value = $(selected).text(); 

        //Removemos el valor selecionado del select de rangos
        $(selected).remove();

        //Añadimos el valor al select de disponibles
        $("select#availableDn")
         .append($("<option></option>")
          .text(value));

      });

      sortSelect("availableDn");
      sortSelect("groupDn");

    });

    function sortSelect(id){

        values = [];
        prefix = "";
        $("select#" + id + " option").each(function(i, option){ 

            value     = $(option).text();
            values.push(value);
            //Removemos el valor del select
            $(option).remove();
        });

        sorted = [];
        for (var i = 0; i < values.length; i++) {
            text = values[i];
            textArray = text.split("-");
            prefix = textArray[0];
            number = parseInt(textArray[1]);
            sorted.push(number);
        };

        if(id == "groupDn") {
          $("button#submit").addClass("disabled");
        }

        sorted.sort();
        for (var i = 0; i < sorted.length; i++) {
            $("select#" + id)
                   .append($("<option></option>")
                    .text( prefix + '-' + sorted[i] ));

            if(id == "groupDn") {
              $("button#submit").removeClass("disabled");
            }
        }
    }

    $("button#submit").mousedown(function(event) {
        
        $("select#groupDn option").each(function(i, option){ 
            $(option).attr("selected","selected");
        });

        $("form").submit();
    });

    /*$("form").submit(function(e){
        e.preventDefault();
    });*/

    $("button#addNoAvailable").click(function(event) {
      
      $(".input-group input").each(function(i, selected){ 
        //Obtenemos el valor del rango seleccionado
        value = $(selected).val(); 

        //Removemos el valor selecionado del input
        $(selected).val("");

        //if(value.indexOf(' - ') === -1)
        if(value != "")
        {
              //Añadimos el valor al select de disponibles
              $("select#groupDn")
               .append($("<option></option>")
                .text("+507-"+value));
        }

      });

      sortSelect("groupDn");

    });

    $("select#groupDn option").each(function(i, option){ 
      $("button#submit").removeClass("disabled");
    });


  });
  </script>
