
<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    
    <li class="active"><a href="#">Nueva Orden (Paso <?php print $order->currentStep; ?> de <?php print $order->totalStep; ?>)</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo 
$this->url('order',array('action'=>'groupaccessdeviceadd','id' => $order->id )); ?>" method="post"> 
        
    <fieldset>
      
      <legend>Dispositivos</legend>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre Del Dispositivo</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formRow($form->get('name')); ?>
        </div>
      </div>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Tipo De Dispositivo</label>
        <div class="col-lg-5 col-md-5">
            <select class="form-control" id="type" type="text" name="type" required="true">
                <option>AudioCodes MP-112</option>
            </select>
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Protocolo</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="protocol" value="SIP 2.0" type="text" name="protocol" readonly="yes">
        </div>
      </div>

      <!--<div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label"></label>
        <div class="col-lg-5 col-md-5">
          <input class="" id="flag" value="1" type="checkbox" name="flag"> 
          Al guardar este dispositivo volver a mostrar este formulario para adicionar otro   
        </div>
      </div>-->
    
      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <button type="submit" class="btn btn-success">Guardar <i class="fa fa-save"></i></button>
        </div>
      </div>
    </fieldset>

    <?php foreach ($devices as $device) { ?>

    <div class="alert alert-warning" role="alert" id="device<?php print $device->id; ?>">
      <i class="fa fa-trash fa-fw" style="cursor:pointer;" onclick="deleteDevice(<?php print $device->id; ?>);"></i>
       Dispositivo <strong><?php print $device->name; ?></strong>, Tipo: <?php print $device->type; ?> <span id="deviceStatus"></span>
    </div>

    <?php } ?>
  </form>

  <p>&nbsp;</p>
  <hr>
  <div class="form-group">
    <div class="col-lg-5 col-md-5 col-lg-offset-4">
        <a href="<?php print $this->url('order',array('action'=>'previous','id'=>$order->id)); ?>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</a>
        <a href="<?php print $this->url('order'); ?>" class="btn btn-default">Cancelar</a>
        <a <?php if(count($devices) > 0) { ?>href="<?php print $this->url('order',array('action'=>'next','id'=>$order->id)); ?>" <?php } ?> class="btn btn-success <?php if(count($devices) == 0) { ?>disabled<?php } ?>">Siguiente <i class="fa fa-arrow-right"></i></a>
    </div>
  </div>

  <script type="text/javascript">
  
  function deleteDevice(id){
     $.ajax({
       url: "<?php print $this->url('order',array('action'=>'groupaccessdevicedelete')); ?>/" + id,
       type: 'GET',
     })
     .done(function() {
        $("div#device" + id + " span#deviceStatus").html("<strong>   Eliminando . . .</strong>");
        setTimeout(function(){
          window.location.href=window.location.href ;
        }, 2000);
     });
  } 

  </script>
