
<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    
    <li class="active"><a href="#">Nueva Orden (Paso <?php print $order->currentStep; ?> de <?php print $order->totalStep; ?>)</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo 
$this->url('order',array('action'=>'groupmodify','id' => $order->id )); ?>" method="post">   
    
    <fieldset>
      
      <legend>Información Del Grupo O Cliente</legend>

     

      <hr>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Grupo</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formSelect($form->get('groupId')); ?>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre de Contacto</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('contactName')); ?>
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Número de Contacto</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('contactNumber')); ?>
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Email de Contacto</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('contactEmail')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Limite de Usuarios</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('userlimit')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">ID Producto</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formInput($form->get('productId')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Zona Horaria</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formInput($form->get('timezone')); ?>
        </div>
      </div>
    
    </fieldset>

    <p>&nbsp;</p>
  <hr>
  <div class="form-group">
    <div class="col-lg-5 col-md-5 col-lg-offset-4">
        <a href="<?php print $this->url('order',array('action'=>'previous','id'=>$order->id)); ?>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</a>
        <a href="<?php print $this->url('order'); ?>" class="btn btn-default">Cancelar</a>
        <button type="submit" class="btn btn-success">Siguiente <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>

</form>

<script type="text/javascript">
  

    

    $("select#groupId").change(function(){
      var groupId = $("select#groupId").val();
       $.ajax({
  url   : "<?php print $this->url('order',array('action'=>'fetchby')); ?>/" + groupId,
  type  :  'get',
}).done(function(result){

      for ( var j = 0; j < result.length; j++ )
      {
        $("#contactName").val(result[j]['contact_name']);
        $("#contactNumber").val(result[j]['contact_number']);
        $("#contactEmail").val(result[j]['contact_email']);
        $("#userlimit").val(result[j]['userlimit']);
        $("#timezone").val(result[j]['timezone']);
        $("#productId").val(result[j]['product_id']);
      }

      });
});
    



/*var select = document.getElementById( 'services' );
var productId = $("#id").val();

 $.ajax({
  url   : "<?php print $this->url('productservices',array('action'=>'fetchbyServices')); ?>/" + productId,
  type  :  'get',
}).done(function(result){

    for ( var i = 0; i < select.options.length; i++ )
    {
      o = select.options[i];
      var valor_select = o.value;
      for ( var j = 0; j < result.length; j++ )
      {
        var_id_services = result[j]['id_services'];
        if(var_id_services==valor_select){o.selected=true;}        
      }

    }
});
  });  */
</script>
