
<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    
    <li class="active"><a href="#">Nueva Orden (Paso <?php print $order->currentStep; ?> de <?php print $order->totalStep; ?>)</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo 
$this->url('order',array('action'=>'serviceproviderdnaddlistcg','id' => $order->id )); ?>" method="post">   
    
    <fieldset>
      
      <legend>Agregar Número a la Empresa</legend
      <hr>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Número de la Empresa :</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formInput($form->get('numero')); ?>
            
        </div>
      </div>
      

     
    </fieldset>
    <p>&nbsp;</p>
  <hr>
  <div class="form-group">
    <div class="col-lg-5 col-md-5 col-lg-offset-4">
        <a href="<?php print $this->url('order',array('action'=>'previous','id'=>$order->id)); ?>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</a>
        <a href="<?php print $this->url('order'); ?>" class="btn btn-default">Cancelar</a>
        <button type="submit" class="btn btn-success">Siguiente <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>

</form>

<script type="text/javascript">
  

    

    $("select#groupid").change(function(){
      var groupid = $("select#groupid").val();
       $.ajax({
  url   : "<?php print $this->url('order',array('action'=>'fetchbyGroup')); ?>/" + groupid,
  type  :  'get',
}).done(function(result){
    
      for ( var j = 0; j < result.length; j++ )
      {
        $("#userlimit").val(result[j]['userlimit']);
        $("#groupname").val(result[j]['name']);
        $("#callingLineIdName").val('Empresa');
        $("#contactname").val(result[j]['contact_name']);
        $("#contactnumber").val(result[j]['contact_number']);
        $("#timezone").val(result[j]['timezone']);
        //$("#domain").val(result[j]['provider_id']);
        $("#id_domain").val(result[j]['provider_id']);
        
      }

      });

  var domain = document.getElementById("id_domain").value;
  //alert(domain);
       $.ajax({
        url   : "<?php print $this->url('order',array('action'=>'fetchbyProvider')); ?>/" + domain,
        type  :  'get',
          }).done(function(result){
          //alert('hola');
            for ( var j = 0; j < result.length; j++ )
            {
              $("#domain").val(result[j]['domain']);
              
            }

      });



});

    

</script>