
<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    
    <li class="active"><a href="#">Nueva Orden (Paso <?php print $order->currentStep; ?> de <?php print $order->totalStep; ?>)</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo $this->url('order',array('action'=>'systemdomainadd','id' => $order->id )); ?>" method="post">
     
    <fieldset>
      
      <legend>Dominio</legend>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre de Dominio</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($this->form->get('id_domain')); ?>
        </div>
      </div>
        
      <div class="form-group">
      <div class="col-lg-5 col-md-5 col-lg-offset-4">
          <a href="<?php print $this->url('order',array('action'=>'previous','id'=>$order->id)); ?>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</a>
          <a href="<?php print $this->url('order'); ?>" class="btn btn-default">Cancelar</a>
         <button type="submit" class="btn btn-success " id="submit">Siguiente <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>

    </fieldset>

  
  </form>
    

    

  <script type="text/javascript">
  
  

  </script>

 
