


<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    <li class="active"><a href="#">Nueva Orden (Paso <?php print (int)$_SESSION['current_priority']; ?> de <?php print count($_SESSION['activities']); ?>)</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo $this->url('order',array('action'=>'userdndeviceassign')); ?>" method="post">
     
    <fieldset>

        <legend>Configurar Número al Usuario</legend>
      
        <div class="col-lg-4 col-md-4">
          <label>Usuario</label>
          <div class="clearfix"></div>
          <?php print $this->formSelect($form->get('id')); ?>
           <?php print $this->formInput($this->form->get('id_order')); ?>

        </div>

        <div class="col-lg-4 col-md-4">
          <label>Números Disponibles En El Grupo</label>
          <div class="clearfix"></div>
          <?php print $this->formSelect($form->get('dnId')); ?>
        </div>

        <div class="col-lg-4 col-md-4">
          <label>Dispositivos Disponibles En El Grupo</label>
          <div class="clearfix"></div>
          <?php print $this->formSelect($form->get('deviceId')); ?>
        </div>
    
    
    </fieldset>

    <p>&nbsp;</p>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('order'); ?>" class="btn btn-default">Cancelar</a>

              <button type="submit" class="btn btn-success" id="submit">Guardar</button>

        </div>
      </div>

  </form>

