
<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    
    <li class="active"><a href="#">Nueva Orden (Paso <?php print $order->currentStep; ?> de <?php print $order->totalStep; ?>)</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo $this->url('order',array('action'=>'useradd','id' => $order->id )); ?>" method="post">
     
    <fieldset>
      
      <legend>Usuario</legend>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="firstname" placeholder="Nombre Del Usuario" type="text" name="firstname">
        </div>
      </div>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Apellido</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="lastname" placeholder="Apellido Del Usuario" type="text" name="lastname">
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">UserID / Username</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="userid" value="" type="text" name="userid">
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Idioma</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($form->get('language')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Zona Horaria</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($form->get('timezone')); ?>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <button type="submit" class="btn btn-success">Guardar <i class="fa fa-save"></i></button>
        </div>
      </div>
    </fieldset>

    <?php foreach ($users as $user) { ?>

    <div class="alert alert-warning" role="alert" id="user<?php print $user->id; ?>">
      <i class="fa fa-trash fa-fw" style="cursor:pointer;" onclick="deleteUser(<?php print $user->id; ?>);"></i>
       Usuario <strong><?php print $user->userid; ?></strong> <span id="userStatus"></span>
    </div>

    <?php } ?>
  </form>
    

    <p>&nbsp;</p>
    <hr>
    <div class="form-group">
      <div class="col-lg-5 col-md-5 col-lg-offset-4">
          <a href="<?php print $this->url('order',array('action'=>'previous','id'=>$order->id)); ?>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</a>
          <a href="<?php print $this->url('order'); ?>" class="btn btn-default">Cancelar</a>
        <a <?php if(count($users) > 0) { ?>href="<?php print $this->url('order',array('action'=>'next','id'=>$order->id)); ?>" <?php } ?> class="btn btn-success <?php if(count($users) == 0) { ?>disabled<?php } ?>">Siguiente <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>

  <script type="text/javascript">
  
  function deleteUser(id){
     $.ajax({
       url: "<?php print $this->url('order',array('action'=>'userdelete')); ?>/" + id,
       type: 'GET',
     })
     .done(function() {
        $("div#user" + id + " span#userStatus").html("<strong>   Eliminando . . .</strong>");
        setTimeout(function(){
          window.location.href=window.location.href ;
        }, 2000);
     });
  } 

  </script>

 
