
<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    
    <li class="active"><a href="#">Nueva Orden (Paso <?php print $order->currentStep; ?> de <?php print $order->totalStep; ?>)</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo 
$this->url('order',array('action'=>'useraddcg','id' => $order->id )); ?>" method="post">   
    
    <fieldset>
      
      <legend>Creación de Grupo</legend
      <hr>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Usuario:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formInput($form->get('userid')); ?>
            
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formInput($form->get('firstname')); ?>
            
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Apellido:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('lastname')); ?>
        </div>
      </div>
         <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre de Identificación de Línea Llamada:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('callingLineidfirstname')); ?>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Apellido Nombre de Identificación de Línea Llamada:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('callinglineidlastname')); ?>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Lenguague:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('lenguague')); ?>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">TimeZone:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formSelect($form->get('timezone')); ?>
        </div>
      </div>

     
    </fieldset>
    <p>&nbsp;</p>
  <hr>
  <div class="form-group">
    <div class="col-lg-5 col-md-5 col-lg-offset-4">
        <a href="<?php print $this->url('order',array('action'=>'previous','id'=>$order->id)); ?>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</a>
        <a href="<?php print $this->url('order'); ?>" class="btn btn-default">Cancelar</a>
        <button type="submit" class="btn btn-success">Siguiente <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>

</form>

