
<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    
    <li class="active"><a href="#">Nueva Orden (Paso <?php print $order->currentStep; ?> de <?php print $order->totalStep; ?>)</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo 
$this->url('order',array('action'=>'usermodifyal','id' => $order->id )); ?>" method="post">   
    
    <fieldset>
      
      <legend>Configurar Número al Usuario</legend
      <hr>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">UserId:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('userid')); ?>
            
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Device Level:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('deviceLevel')); ?>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre de Dispositivos:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('deviceName')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Línea de Puerto:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('linePort')); ?>
        </div>
      </div>

       <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Número:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('number')); ?>
        </div>
      </div>

       

       
  
    </fieldset>

    <p>&nbsp;</p>
  <hr>
  <div class="form-group">
    <div class="col-lg-5 col-md-5 col-lg-offset-4">
        <a href="<?php print $this->url('order',array('action'=>'previous','id'=>$order->id)); ?>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</a>
        <a href="<?php print $this->url('order'); ?>" class="btn btn-default">Cancelar</a>
        <button type="submit" class="btn btn-success">Siguiente <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>

</form>
