
<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    
    <li class="active"><a href="#">Nueva Orden (Paso <?php print $order->currentStep; ?> de <?php print $order->totalStep; ?>)</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo 
$this->url('order',array('action'=>'usermodifycn','id' => $order->id )); ?>" method="post">   
    
    <fieldset>
      
      <legend>Eliminar Número de Usuario</legend>

     

      <hr>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Grupo</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formSelect($form->get('userId')); ?>
            <?php print $this->formInput($form->get('id_group')); ?>

        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Device Level</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('devicelevel')); ?>
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre de Contacto</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('devicename')); ?>
        </div>
      </div>
      
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Line Port</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('lineport')); ?>
        </div>
      </div>

    
      
    
    </fieldset>

    <p>&nbsp;</p>
  <hr>
  <div class="form-group">
    <div class="col-lg-5 col-md-5 col-lg-offset-4">
        <a href="<?php print $this->url('order',array('action'=>'previous','id'=>$order->id)); ?>" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</a>
        <a href="<?php print $this->url('order'); ?>" class="btn btn-default">Cancelar</a>
        <button type="submit" class="btn btn-success">Siguiente <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>

</form>

<script type="text/javascript">
  

    

    $("select#userId").change(function(){
      var userId = $("select#userId").val();
       $.ajax({
  url   : "<?php print $this->url('order',array('action'=>'fetchbyUserID')); ?>/" + userId,
  type  :  'get',
}).done(function(result){
    
      for ( var j = 0; j < result.length; j++ )
      {
        $("#devicename").val(result[j]['devicename']);
        $("#devicelevel").val(result[j]['devicelevel']);
        $("#lineport").val(result[j]['lineport']);
        $("#id_group").val(result[j]['id_group']);
        
        
      }

      });
});
    

</script>
