
<div class="col-lg-12">
    <h1 class="page-header">Órdenes</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    <li><a href="<?php print $this->url('order',array("action"=>"list")); ?>">Lista de órdenes</a></li>
    <li class="active"><a href="#">Orden # <?php print $order->id; ?></a></li>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enviar XML</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id='myButton' data-loading-text="Enviando..." type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>


<br><br>


    <fieldset>
      
      <legend>Información General de la Orden</legend>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Orden #</label>
        <div class="col-lg-5 col-md-5">
            <?php print $order->id; ?>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">CIS ID</label>
        <div class="col-lg-5 col-md-5">
            <?php print $order->cisid; ?>&nbsp;
        </div>
      </div>

      <div class="clearfix"></div>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Escenario o Tipo de orden</label>
        <div class="col-lg-5 col-md-5">
            <?php print $order->case; ?>
        </div>
      </div>

      <div class="clearfix"></div>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Descripción</label>
        <div class="col-lg-5 col-md-5">
            <?php print $order->description; ?>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Cliente o Grupo</label>
        <div class="col-lg-5 col-md-5">
            <?php print $order->group; ?>
        </div>
      </div>

      <div class="clearfix"></div>
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Plataforma</label>
        <div class="col-lg-5 col-md-5">
            <?php print $order->platform; ?>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Estado</label>
        <div class="col-lg-5 col-md-5">
            <?php print $order->status; ?>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Creado el</label>
        <div class="col-lg-5 col-md-5">
            <?php print $order->dateCreated; ?>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Creado por</label>
        <div class="col-lg-5 col-md-5">
            <?php print $order->user; ?>
        </div>
      </div>

       <div  class="form-group">
          <div class="col-lg-5 col-md-5">
          <button title="Enviar" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Enviar
          </button>
          </div>
      </div>
    
    </fieldset>

    <p>&nbsp;</p>
    
    <fieldset>
      
      <legend>Comandos Aprovisionados</legend>

      <table class="table table-striped">
          <tr>
            <th>Nombre</th>
            <th>Prioridad</th>
            <th>Estado</th>
          </tr>
      <?php foreach ($xmls as $xml) { ?>
          <tr>
            <td><?php print $xml->name; ?></td>
            <td><?php print $xml->priority; ?></td>
            <td class="text-<?php print $xml->status=='pending'?'warning':$xml->status;?>"><?php print ucfirst($xml->status); ?></td>
          </tr>
      <?php  }  ?>
      </table>
    
    </fieldset>

    <p>&nbsp;</p>
    
    <fieldset>
      
      <legend>Información Del Cliente o Grupo</legend>
        
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">CIS ID</label>
        <div class="col-lg-5 col-md-5">
            <?php print $group->cisid; ?>&nbsp;
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
            <?php print $group->name; ?>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre De Contacto</label>
        <div class="col-lg-5 col-md-5">
            <?php print $group->contactName; ?>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Número De Contacto</label>
        <div class="col-lg-5 col-md-5">
            <?php print $group->contactNumber; ?>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Email De Contacto</label>
        <div class="col-lg-5 col-md-5">
            <?php print $group->contactEmail; ?>
        </div>
      </div>

    </fieldset>
    

    <p>&nbsp;</p>

    <div class="form-group">
      <div class="col-lg-5 col-md-5 col-lg-offset-4">
          <a href="<?php print $this->url('order'); ?>" class="btn btn-primary">Regresar</a>
      </div>
    </div>
<script>
  $('#myButton').on('click', function () {
    var $btn = $(this).button('loading')
    // business logic...
    //$btn.button('reset')
  })
</script>