
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Paquete De Servicios</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('servicepack'); ?>">Paquete De Servicios</a></li>
    <li><a href="<?php print $this->url('servicepack',array('action'=>'list')); ?>">Listado</a></li>
    <li class="active"><a href="#">Editar</a></li>
</div>

<br>



<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo $this->url('servicepack',array('action'=>'edit','id'=>$this->servicepack->id)); ?>" method="post">
    <?php print $this->formHidden($this->form->get('id')); ?>
    <fieldset>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formInput($this->form->get('name')); ?>
        </div>
      </div>
       <div class="form-group">
        <label for="username" class="col-lg-4 col-md-4 control-label">Categoria:</label>
        <div class="col-lg-5 col-md-5">
       <?php print $this->formSelect($this->form->get('category')); ?>
        </div>
      </div>
      
      <hr/>

      <fieldset>
          <legend>Servicios <span id="serviceCategory"></span></legend>

          <div class="col-lg-5 col-md-5">
            Disponibles 
            <div class="clearfix"></div>
            <?php print $this->formSelect($this->form->get('servicesAvailable')); ?>
          </div>

          <div class="col-lg-1 col-md-1">
            <div class="clearfix"><br></div>
            <div class="clearfix"><br></div>

            <button type="button" class="btn btn-primary" id="addService"> <i class="fa fa-chevron-right"></i> </button>
            <div class="clearfix"><br></div>
            <button type="button" class="btn btn-default" id="removeService"> <i class="fa fa-chevron-left"></i> </button>
          </div>

          <div class="col-lg-5 col-md-5">
            Asignados 
            <div class="clearfix"></div>
            <?php print $this->formSelect($this->form->get('servicesAssigned')); ?>
          </div>

      </fieldset>

      <p>&nbsp;</p>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('servicepack',array('action'=>'list')); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </fieldset>
  </form>

<script type="text/javascript">

    var userServices = $.parseJSON('<?php print json_encode($this->userServices); ?>');
    var groupServices = $.parseJSON('<?php print json_encode($this->groupServices); ?>');

    $(document).ready(function() {

      firstTime();

      $("select#category").change(function(){
          
          $("select#servicesAvailable").html("");
          $("span#serviceCategory").html("");

          if(this.value == 1){
            services = userServices;
            $("span#serviceCategory").html("De Usuario");
            $.each(services, function(key, value) {
                $("select#servicesAvailable").append($("<option value='"+key+"'></option>").text(value));
            });
          }

          if(this.value == 2){
            services = groupServices;
            $("span#serviceCategory").html("De Grupo");
            $.each(services, function(key, value) {
                $("select#servicesAvailable").append($("<option value='"+key+"'></option>").text(value));
            });
          }

          sortSelect('servicesAvailable');

      });
    


    $("button#addService").click(function(event) {
      
        $("select#servicesAvailable :selected").each(function(i, selected){ 
          //Obtenemos el valor del rango seleccionado
          text = $(selected).text();
          value = $(selected).val(); 

          //Removemos el valor selecionado del select de rangos
          $(selected).remove();

          //Añadimos el valor al select de disponibles
          $("select#servicesAssigned").append($("<option value='"+value+"'></option>").text(text));

        });

        sortSelect('servicesAvailable');
        sortSelect('servicesAssigned');

    });


    $("button#removeService").click(function(event) {
      
        $("select#servicesAssigned :selected").each(function(i, selected){ 
          //Obtenemos el valor del rango seleccionado
          text = $(selected).text();
          value = $(selected).val();

          //Removemos el valor selecionado del select de rangos
          $(selected).remove();

          //Añadimos el valor al select de disponibles
          $("select#servicesAvailable").append($("<option value='"+value+"'></option>").text(text));

        });

        sortSelect('servicesAvailable');
        sortSelect('servicesAssigned');

    });


    /*$("button#submit").mousedown(function(event) {
        
        $("select#servicesAssigned option").each(function(i, option){ 
            $(option).attr("selected","selected");
        });

        
    });*/

    $("form").submit(function(){
        $("select#servicesAssigned option").each(function(i, option){ 
            $(option).attr("selected","selected");
        });
    });


    function sortSelect(id){
        var options = $("select#"+id+" option");
        var arr = options.map(function(_, o) { return { t: $(o).text(), v: o.value }; }).get();
        arr.sort(function(o1, o2) { return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0; });
        options.each(function(i, o) {
          o.value = arr[i].v;
          $(o).text(arr[i].t);
        });
    }

    function firstTime(){
      var category = parseInt($("select#category").val());
      if(category == 1){
        services = userServices;
        $("span#serviceCategory").html("De Usuario");
        $.each(services, function(key, value) {
            $("select#servicesAvailable").append($("<option value='"+key+"'></option>").text(value));
        });
      }

      if(category == 2){
        services = groupServices;
        $("span#serviceCategory").html("De Grupo");
        $.each(services, function(key, value) {
            $("select#servicesAvailable").append($("<option value='"+key+"'></option>").text(value));
        });
      }

      sortSelect('servicesAvailable');
    }


  });
  </script>