
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Paquete De Servicios</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class="active"><a href="<?php print $this->url('servicepack'); ?>">Paquete De Servicios</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('servicepack',array("action"=>"add")); ?>">Nuevo paquete de servicios</a>
        <br>Crea un nuevo paquete de servicios (ServicePack)
    </p>

    <p>
        <a href="<?php print $this->url('servicepack',array("action"=>"list")); ?>">Listado de paquetes de servicios</a>
        <br>Listado de todos los paquetes de servicios
    </p>

</div>