<!-- QUANTIC GRID -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/lib/QGRID/_QG.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {

      _QG.init({

          isFilterEnabled     : true,
          isPaginationEnabled : true,
          isPerPageEnabled    : true,
          isOrderEnabled      : true,
          orderby             : 'name',
          sort                : { default:'asc',alt:'up'},
          hasOptionsColumn    : true,
          itemsPerPage        : 10,

          loaderImage         : "<?php echo $this->basePath() . '/img/ajax-loader-bar.gif'?>",
          templateDir         : '<?php echo $this->basePath(); ?>/lib/QGRID/templates',
          source              : "<?php echo $this->url('servicepack',array('action'=>'filter'));?>",
          //columns             : ['type','ports','initemplate_id','firmware_id'],
          cols                : [
                                    {   default     :'name',
                                        translated  :'Nombre'  },
                                    {   default     :'category',
                                        translated  :'Categoría'  },
                                    {   default     :'options',
                                        translated  :'Opciones'  }
                                ],
           inputs              : [
                                  {
                                    id    :'name',
                                    label :'Nombre',
                                    type  :'text'
                                  },
                                  {
                                    id    :'category',
                                    label :'Categoría',
                                    type  :'select',
                                    options : [{label:'Usuario',value:'1'},{label:'Grupo',value:'2'}]
                                  },
                                ]
      });

      _QGEngine.start();
  });
</script>
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Paquete De Servicios</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('servicepack'); ?>">Paquete De Servicios</a></li>
    <li class="active"><a href="#">Listado</a></li>
</div>

<br>

<div id="_QG"></div>



<!-- Eliminar Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Paquete De Servicios</h4>
      </div>
      <div class="modal-body">
          <p class="lead">Deseas eliminar este paquete de servicios?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

var services = {
    
    id          : null,
    deleteUrl   : "<?php print $this->url('servicepack',array('action'=>'delete')); ?>",
    deleteModal : $('#myModal'),
    
    delete : function(){
        var _this = services;
        if(_this.id === null) return;
        
        $.ajax({
            url :   _this.deleteUrl + "/" + _this.id
        }).done(function( data ) {
            
            if ( console && console.log ) {
                console.log( data );
            }
            
            _this.deleteModal.modal('hide');
            _QGEngine.fetch();
        }).fail(function( data ){
            if ( console && console.log ) {
                console.log( data );
            }
        });
    }
};

$(document).on("_QG_GRID_DONE",function(){
    /*
     * Al hacer click sobre el link Eliminar de cualquier usuario.
     */
    $("a.text-danger").click(function(){
        services.id = $(this).data("id");
    });
    
     /*
     * Al hacer click sobre el link Eliminar del modal.
     */
    $("button.btn-danger").click(services.delete);
    
    /*
     * Cuando el modal se cierra.
     */
    services.deleteModal.on('hidden.bs.modal', function (e) {
        services.id = null;
    });

});
</script>
