

<div class="col-lg-12">
    <h1 class="page-header">Grupos <small>/ Departamentos</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('group'); ?>">Lista de Grupos</a></li>
    <li class="active"><a href="#">Nuevo Grupo</a></li>
</div>

<br><br>

        <form class="form-horizontal" accept-charset="UTF-8" group="form" action="<?php echo $this->url('group',array('action'=>'add')); ?>" method="post">
            <fieldset>

              <div class="form-group">
                <label for="username" class="col-lg-4 col-md-4 control-label">Nombre</label>
                <div class="col-lg-5 col-md-5">
                  <input class="form-control" id="name" placeholder="Nombre del grupo o departamento" type="text" name="name">
                </div>
              </div>
              
              <div class="form-group">
                <label for="username" class="col-lg-4 col-md-4 control-label">Correo Electrónico</label>
                <div class="col-lg-5 col-md-5">
                  <input class="form-control" id="email" placeholder="Correo electrónico del grupo o depatamento" type="text" name="email">
                </div>
              </div> 
              
              <p>&nbsp;</p>

              <div class="form-group">
                <div class="col-lg-5 col-md-5 col-lg-offset-4">
                    <a href="<?php print $this->url('group'); ?>" class="btn btn-default">Cancelar</a>
                  <button type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>
              
            </fieldset>
          </form>