
<div class="col-lg-12">
    <h1 class="page-header">Configuración <small>/ Grupos - Departamentos</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('configuration'); ?>">Configuración</a></li>
    <li class=""><a href="<?php print $this->url('group'); ?>">Grupos</a></li>
    <li class=""><a href="<?php print $this->url('group',array('action'=>'list')); ?>">Listado</a></li>
    <li class="active"><a href="#">Editar</a></li>
</div>

<br>

        <form class="form-horizontal" accept-charset="UTF-8" group="form" action="<?php echo $this->url('group',array('action'=>'edit','id'=>$this->group->id)); ?>" method="post">
            <input id="id" type="hidden" name="id" value="<?php print $this->group->id; ?>">
            <fieldset>

              <div class="form-group">
                <label for="username" class="col-lg-4 col-md-4 control-label">Nombre</label>
                <div class="col-lg-5 col-md-5">
                  <input class="form-control" id="name" placeholder="Nombre del grupo o departamento" type="text" name="name" value="<?php print $this->form->get('name')->getValue(); ?>">
                </div>
              </div>
              
              <div class="form-group">
                <label for="username" class="col-lg-4 col-md-4 control-label">Correo Electrónico</label>
                <div class="col-lg-5 col-md-5">
                  <input class="form-control" id="email" placeholder="Correo electrónico del grupo o depatamento" type="text" name="email" value="<?php print $this->form->get('email')->getValue(); ?>">
                </div>
              </div> 
              
              <p>&nbsp;</p>

              <div class="form-group">
                <div class="col-lg-5 col-md-5 col-lg-offset-4">
                    <a href="<?php print $this->url('group',array('action'=>'list')); ?>" class="btn btn-default">Cancelar</a>
                  <button type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>
              
            </fieldset>
          </form>
