<div class="col-lg-12">
    <h1 class="page-header">Configuración <small>/ Grupos - Departamentos</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('configuration'); ?>">Configuración</a></li>
    <li class="active"><a href="<?php print $this->url('group'); ?>">Grupos</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('group',array("action"=>"add")); ?>">Nuevo grupo</a>
        <br>Crea un nuevo grupo o departamento en nexus
    </p>

    <p>
        <a href="<?php print $this->url('group',array("action"=>"list")); ?>">Listado de grupos</a>
        <br>Listado de todos los grupo o departamentos de nexus
    </p>

</div>