
<div class="col-lg-12">
    <h1 class="page-header">Configuración <small>/ Grupos - Departamentos</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('configuration'); ?>">Configuración</a></li>
    <li class=""><a href="<?php print $this->url('group'); ?>">Grupos</a></li>
    <li class="active"><a href="#">Listado</a></li>
</div>

<br>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del Grupo</th>
                    <th>Correo Electrónico</th>
                    <th>Usuarios</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($this->paginator as $group) { ?>
                <tr id="<?php print $group->id; ?>">
                    <td><?php print $group->name; ?></td>
                    <td><?php print $group->email; ?></td>
                    <td><span class="badge">
                            <strong><?php print $group->usuarios?$group->usuarios:"0"; ?></strong>
                        </span></td>
                    <td>
                        <a class="btn btn-link btn-xs text-warning" href="<?php print $this->url('group',array('action'=>'edit','id'=>$group->id)); ?>"><i class="fa fa-edit"></i> Editar</a>
                        <a class="btn btn-link btn-xs text-danger <?php print $group->usuarios?"disabled":""; ?>"  data-toggle="modal" data-target="#myModal" data-id="<?php print $group->id; ?>"><i class="fa fa-trash-o"></i> Eliminar</a>
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
        <?php 
            if(!is_null($this->paginator)) {
                echo $this->paginationControl(
                    $this->paginator, 'Sliding', 'paginator-group', array('orderby' => 'id', 'order' => 'asc')
                );
            }
        ?>


<!-- Eliminar Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Grupo</h4>
      </div>
      <div class="modal-body">
          <p class="lead">Deseas eliminar este grupo?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

var group = {
    
    id          : null,
    deleteUrl   : "<?php print $this->url('group',array('action'=>'delete')); ?>",
    deleteModal : $('#myModal'),
    
    delete : function(){
        var _this = group;
        if(_this.id === null) return;
        
        $.ajax({
            url :   _this.deleteUrl + "/" + _this.id
        }).done(function( data ) {
            
            if ( console && console.log ) {
                console.log( data );
            }
            
            _this.deleteModal.modal('hide');
            $('tr#'+_this.id).addClass('text-danger');
            $('tr#'+_this.id).fadeOut(2000);
        }).fail(function( data ){
            if ( console && console.log ) {
                console.log( data );
            }
        });
    }
};

$(document).ready(function(){
    /*
     * Al hacer click sobre el link Eliminar de cualquier usuario.
     */
    $("a.text-danger").click(function(){
        group.id = $(this).data("id");
    });
    
     /*
     * Al hacer click sobre el link Eliminar del modal.
     */
    $("button.btn-danger").click(group.delete);
    
    /*
     * Cuando el modal se cierra.
     */
    group.deleteModal.on('hidden.bs.modal', function (e) {
        group.id = null;
    });

});
</script>