
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Plataformas Broadsoft</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('platform'); ?>">Plataformas Broadsoft</a></li>
    <li><a href="<?php print $this->url('platform',array('action'=>'list')); ?>">Listado</a></li>
    <li class="active"><a href="#"><b>Editar</b> <?php print $this->platform->name; ?></a></li>
</div>

<br>

<form class="form-horizontal" accept-charset="UTF-8" action="<?php echo $this->url('platform',array('action'=>'edit')); ?>" method="post">
    <input id="id" type="hidden" name="id" value="<?php print $this->platform->id; ?>">
    <fieldset>

      <div class="form-group">
        <label for="username" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="name" placeholder="Nombre de la Plataforma" type="text" name="name" value="<?php print $this->form->get('name')->getValue(); ?>">
        </div>
      </div>

      <div class="form-group">
        <label for="ip" class="col-lg-4 col-md-4 control-label">Dirección IP</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="ip" placeholder="Dirección IP" type="text" name="ip" value="<?php print $this->form->get('ip')->getValue(); ?>">
        </div>
      </div>

      <div class="form-group">
        <label for="protocol" class="col-lg-4 col-md-4 control-label">Protocolo</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="protocol" placeholder="Protocolo: http, https, etc..." type="text" name="protocol" value="<?php print $this->form->get('protocol')->getValue(); ?>">
        </div>
      </div>

      <div class="form-group">
        <label for="port" class="col-lg-4 col-md-4 control-label">Puerto</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="port" placeholder="Puerto" type="text" name="port" value="<?php print $this->form->get('port')->getValue(); ?>">
        </div>
      </div>

      <div class="form-group">
        <label for="port" class="col-lg-4 col-md-4 control-label">Dirección del WSDL</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="wsdl" placeholder="/direccion/al/webservice?wsdl" type="text" name="wsdl" value="<?php print $this->form->get('wsdl')->getValue(); ?>">
        </div>
      </div>

      <div class="form-group">
        <label for="username" class="col-lg-4 col-md-4 control-label">Nombre de usuario</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="username" placeholder="Usuario" type="text" name="username" value="<?php print $this->form->get('username')->getValue(); ?>">
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-lg-4 col-md-4 control-label">Contraseña del usuario</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="password" placeholder="Contraseña" type="password" name="password" value="<?php print $this->form->get('password')->getValue(); ?>">
        </div>
      </div>

      <div class="form-group">
        <label for="active" class="col-lg-4 col-md-4 control-label">Activo</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formCheckbox($this->form->get('active')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="active" class="col-lg-4 col-md-4 control-label">Clase Color</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($this->form->get('class')); ?>
        </div>
      </div>

      <p>&nbsp;</p>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('platform',array('action'=>'list')); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </fieldset>
  </form>
