
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Plataformas Broadsoft</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class="active"><a href="<?php print $this->url('platform'); ?>">Plataformas Broadsoft</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('platform',array("action"=>"add")); ?>">Nueva plataforma</a>
        <br>Crea un nuevo producto para aprovisionar
    </p>

    <p>
        <a href="<?php print $this->url('platform',array("action"=>"list")); ?>">Listado de plataformas</a>
        <br>Listado de todas las plataformas
    </p>

</div>