
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Plataformas Broadsoft</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('platform'); ?>">Plataformas Broadsoft</a></li>
    <li class="active"><a href="#">Listado</a></li>
</div>

<br>

<table class="table">
    <thead>
        <tr>
            <th>Nombre de la Plataforma</th>
            <th>Dirección IP</th>
            <th>Estado</th>
            <th>Activa</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($this->platforms as $platform) { ?>
        <tr id="<?php print $platform->ip; ?>" class="<?php if($platform->active == 0) { ?> text-muted<?php } ?> text-<?php print $platform->class; ?>"  >
            <td><?php print $platform->name; ?></td>
            <td><?php print $platform->ip; ?></td>
            <td id="status"><i class="fa fa-circle-o-notch fa-spin"></i></td>
            <td><?php print $platform->active==1?"Si":"No"; ?></td>
            <td>
                <a class="btn btn-link btn-xs text-warning" href="<?php print $this->url('platform',array('action'=>'view','id'=>$platform->id)); ?>"><i class="fa fa-search"></i> Detalles</a>
                <a class="btn btn-link btn-xs text-warning" href="<?php print $this->url('platform',array('action'=>'edit','id'=>$platform->id)); ?>"><i class="fa fa-edit"></i> Editar</a>
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
            
        $("tbody tr").each(function() {
            var platform = this;
            var request = $.ajax(
            {
                url     : "<?php echo $this->url('platform',array('action'=>'check'));?>",
                type    : "POST",
                data    : {
                    ip : platform.id
                },
                //async   : false,
            }).done(function(data){
                
                if(data.status == "success"){

                    if(data.payload.up == 'true' || data.payload.up == true){

                        $(platform).children("td#status").html("<span class='label label-success'>ON LINE</span>");
                    } else {
                        $(platform).children("td#status").html("<span class='label label-danger'>OFF LINE</span>");
                    }
                } else {
                    alert(data.payload);
                }
            });
        });
    });
</script>