
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Plataformas Broadsoft</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('platform'); ?>">Plataformas Broadsoft</a></li>
    <li><a href="<?php print $this->url('platform',array('action'=>'list')); ?>">Listado</a></li>
    <li class="active"><a href="#"><b>Detalles</b> <?php print $this->platform->name; ?></a></li>
</div>

<br>


    <fieldset>
    <div class="clearfix"><br><br></div>

      <div class="">
        <label for="username" class="col-lg-4 col-md-4 text-right">Nombre</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->platform->name; ?>
        </div>
      </div>

      <div class="clearfix"><br><br></div>

      <div class="">
        <label for="ip" class="col-lg-4 col-md-4 text-right">Dirección IP</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->platform->ip; ?>
          <?php if( @fsockopen($this->platform->ip, $this->platform->port, $errno, $errstr, 0.4) ) { ?>
                <span class="label label-success">on line</span>
            <?php } else { ?>
                <span class="label label-danger">off line</span>
            <?php } ?>
        </div>
      </div>

      <div class="clearfix"><br><br></div>

      <div class="">
        <label for="protocol" class="col-lg-4 col-md-4 text-right">Protocolo</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->platform->protocol; ?>
        </div>
      </div>

      <div class="clearfix"><br><br></div>

      <div class="">
        <label for="port" class="col-lg-4 col-md-4 text-right">Puerto</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->platform->port ?>
        </div>
      </div>

      <div class="clearfix"><br><br></div>

      <div class="">
        <label for="port" class="col-lg-4 col-md-4 text-right">Dirección del WSDL</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->platform->wsdl; ?>
        </div>
      </div>

      <div class="clearfix"><br><br></div>

      <div class="">
        <label for="username" class="col-lg-4 col-md-4 text-right">Nombre de usuario</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->platform->username; ?>
        </div>
      </div>

      <div class="clearfix"><br><br></div>

      <div class="">
        <label for="active" class="col-lg-4 col-md-4 text-right">Activo</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->platform->active==1?"Si":"No"; ?>
        </div>
      </div>

      <p>&nbsp;</p>
      <p>&nbsp;</p>

      <div class="">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('platform',array('action'=>'list')); ?>" class="btn btn-info">Regresar</a>
        </div>
      </div>

    </fieldset>
  </form>
