
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Grupos</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('grouptc'); ?>">Grupos</a></li>
    <li class="active"><a href="#">Nuevo</a></li>
</div>


<br>

<form class="form-horizontal" accept-charset="UTF-8" action="<?php echo $this->url('grouptc',array('action'=>'add')); ?>" method="post">

      <div class="form-group">
        <label for="group" class="col-lg-4 col-md-4 control-label">Nombre:</label>
        <div class="col-lg-5 col-md-5">
           <?php print $this->formInput($this->form->get('group')); ?>
        </div>
      </div>


       <div class="form-group">
        <label for="description" class="col-lg-4 col-md-4 control-label">Descripción:</label>
        <div class="col-lg-5 col-md-5">
           <?php print $this->formInput($this->form->get('description')); ?>
        </div>
      </div>


       <div class="form-group">
        <label for="providerId" class="col-lg-4 col-md-4 control-label">Service Provider:</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formSelect($this->form->get('providerId')); ?>
        </div>
      </div>

      <p>&nbsp;</p>

      <?php if($summary != ""){ ?>
         <div class="form-group">
          <label for="" class="col-lg-4 col-md-4 control-label"></label>
          <div class="col-lg-5 col-md-5 text-danger">
              <?php print $summary; ?> <br>Ver logs para más detalles.
          </div>
        </div>
      <?php } ?>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('grouptc',array('action'=>'list')); ?>" class="btn btn-default">Cancelar</a>
            <button type="submit" id="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

  </form>

  <script type="text/javascript">
    $(document).ready(function() {
        $("button#submit").click(function(event) {
            $(this).addClass("disabled").html("Aprovisionando . . .");
        });
    });
  </script>
