
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Grupos</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class="active"><a href="<?php print $this->url('grouptc'); ?>">Grupos</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('grouptc',array("action"=>"add")); ?>">Nuevo grupo</a>
        <br>Crea una nuevo grupo
    </p>

    <p>
        <a href="<?php print $this->url('grouptc',array("action"=>"list")); ?>">Listado de grupos</a>
        <br>Listado de todos los grupos
    </p>

</div>