
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Grupos</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('grouptc'); ?>">Grupos</a></li>
    <li class="active"><a href="#">Listado</a></li>
</div>

<br>

<table class="table">
    <thead>
        <tr>
            <th>Grupo</th>
            <th>Descripción</th>
            <th>Service Provider</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($this->grouptc as $grouptc) { ?>
        <tr id="<?php print $grouptc->id; ?>" class="<?php //if($grouptc->active == 0) { ?> text-muted<?php //} ?> text-<?php //print $grouptc->class; ?>"  >
            <td><?php print $grouptc->group; ?></td>
            <td><?php print $grouptc->description; ?></td>
            <td><?php print $grouptc->provider; ?></td>
            <td>
                <a class="btn btn-link btn-xs text-warning" href="<?php print $this->url('grouptc',array('action'=>'edit','id'=>$grouptc->id)); ?>"><i class="fa fa-edit"></i> Editar</a>
                <a class="btn btn-link btn-xs text-danger"  data-toggle="modal" data-target="#myModal" data-id="<?php print $grouptc->id; ?>"><i class="fa fa-trash-o"></i> Eliminar</a>
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>

<!-- Eliminar Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Grupo</h4>
      </div>
      <div class="modal-body">
          <p class="lead">Deseas eliminar este Grupo?</p>
          <span class="text-danger" id="error"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

var grouptc = {
    
    id          : null,
    deleteUrl   : "<?php print $this->url('grouptc',array('action'=>'delete')); ?>",
    deleteModal : $('#myModal'),
    
    delete : function(){
        var _this = grouptc;
        if(_this.id === null) return;

        var button = this;
        $(button).addClass("disabled").html("Eliminando . . .");
        
        $.ajax({
            url :   _this.deleteUrl + "/" + _this.id
        }).done(function( data ) {
            $(button).removeClass("disabled").html("Eliminar");

            if ( console && console.log ) {
                console.log( data );
            }
            
            if(data.status == "error"){
              $("span#error").html(data.payload);
            } else {
              _this.deleteModal.modal('hide');
              $('tr#'+_this.id).addClass('text-danger');
              $('tr#'+_this.id).fadeOut(2000);
            }
        }).fail(function( data ){
            if ( console && console.log ) {
                console.log( data );
            }
        });
    }
};

$(document).ready(function(){
    /*
     * Al hacer click sobre el link Eliminar de cualquier usuario.
     */
    $("a.text-danger").click(function(){
        grouptc.id = $(this).data("id");
    });
    
     /*
     * Al hacer click sobre el link Eliminar del modal.
     */
    $("button.btn-danger").click(grouptc.delete);
    
    /*
     * Cuando el modal se cierra.
     */
    grouptc.deleteModal.on('hidden.bs.modal', function (e) {
        grouptc.id = null;
    });

});
</script>
