<style>
    form div.input-group {
        padding-left: 15px !important;
    }
    
    .fa-calendar:hover {
        cursor: pointer;
    }
</style>


<div class="col-lg-12">
    <h1 class="page-header">Configuración <small>/ Usuarios</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('configuration'); ?>">Configuración</a></li>
    <li class=""><a href="<?php print $this->url('user'); ?>">Usuarios</a></li>
    <li class="active"><a href="#">Nuevo</a></li>
</div>

<br>

        <form class="form-horizontal" accept-charset="UTF-8" role="form" action="<?php echo $this->url('user',array('action'=>'add')); ?>" method="post">
            <fieldset>

              <div class="form-group <?php in_array("username", $this->errors)?print "has-error":""; ?>">
                <label for="username" class="col-lg-4 col-md-4 control-label">Usuario</label>
                <div class="col-lg-5 col-md-5">
                    <input class="form-control" id="username" placeholder="Usuario" type="text" name="username" value="<?php print $this->form->get('username')->getValue(); ?>">
                </div>
              </div>
              
              <div class="form-group <?php in_array("password", $this->errors)?print "has-error":""; ?>">
                <label for="inputPassword" class="col-lg-4 col-md-4 control-label">Contraseña</label>
                <div class="col-lg-5 col-md-5">
                    <input class="form-control" id="password" placeholder="Contraseña" type="password" name="password" autocomplete="off">                  
                </div>
              </div>
              
              <div class="form-group <?php in_array("confirm", $this->errors)?print "has-error":""; ?>">
                <label for="inputPassword" class="col-lg-4 col-md-4 control-label">Confirma Contraseña</label>
                <div class="col-lg-5 col-md-5">
                    <input class="form-control" id="confirm" placeholder="Confirma Contraseña" type="password" name="confirm" autocomplete="off">                  
                    <?php if(in_array("confirm", $this->errors)) { ?>
                        <div class="text-danger">
                            Contraseñas deben coincidir!<br>
                            Si no desea cambiarla favor dejar ambas en blanco!
                        </div>
                    <?php } ?>
                </div>
              </div>
              
              <div class="form-group">
                <label for="name" class="col-lg-4 col-md-4 control-label"></label>
                <div class="col-lg-5 col-md-5">
                    <input class="" id="changePassword" type="checkbox" name="changePassword" value="1">
                    <em>El usuario deberá cambiar su contraseña cuando inicie sesión.</em>
                </div>
              </div>
              
              <div class="form-group <?php in_array("expirePassword", $this->errors)?print "has-error":""; ?>">
                <label for="name" class="col-lg-4 col-md-4 control-label">Contraseña vence</label>
                <div class="col-lg-3 col-md-3 input-group date" id="datetimepicker1" data-date-format="YYYY-MM-DD">
                    <input class="form-control" id="expirePassword" readonly="yes" type="text" name="expirePassword" value="<?php print $this->form->get('expirePassword')->getValue()?$this->form->get('expirePassword')->getValue():date('Y-m-d',strtotime(date("Y-m-d", mktime()) . " + ".$this->expire_password." day")); ?>">
                    <span class="input-group-addon"><i data-time-icon='icon-time' data-date-icon='icon-calendar' class="fa fa-calendar"></i></span>
                </div>
              </div>
              
              <hr/>
              
              <div class="form-group <?php in_array("name", $this->errors)?print "has-error":""; ?>">
                <label for="name" class="col-lg-4 col-md-4 control-label">Nombre Completo</label>
                <div class="col-lg-5 col-md-5">
                    <input class="form-control" id="name" placeholder="Nombre completo" type="text" name="name" value="<?php print $this->form->get('name')->getValue(); ?>">                
                </div>
              </div>
              
              <div class="form-group <?php in_array("email", $this->errors)?print "has-error":""; ?>">
                <label for="email" class="col-lg-4 col-md-4 control-label">Correo Electrónico</label>
                <div class="col-lg-5 col-md-5">
                    <input class="form-control" id="email" placeholder="Correo Electrónico" type="text" name="email" value="<?php print $this->form->get('email')->getValue(); ?>">                 
                </div>
              </div>
              
              <div class="form-group <?php in_array("phone", $this->errors)?print "has-error":""; ?>">
                <label for="phone" class="col-lg-4 col-md-4 control-label">Teléfono</label>
                <div class="col-lg-5 col-md-5">
                    <input class="form-control" id="phone" placeholder="Teléfono" type="text" name="phone" value="<?php print $this->form->get('phone')->getValue(); ?>">                    
                </div>
              </div>
              
              <div class="form-group <?php in_array("mobile", $this->errors)?print "has-error":""; ?>">
                <label for="mobile" class="col-lg-4 col-md-4 control-label">Celular</label>
                <div class="col-lg-5 col-md-5">
                    <input class="form-control" id="mobile" placeholder="Celular" type="text" name="mobile" value="<?php print $this->form->get('mobile')->getValue(); ?>">
                </div>
              </div>
              
              <hr/>
              
              <div class="form-group <?php in_array("groupId", $this->errors)?print "has-error":""; ?>">
                <label for="mobile" class="col-lg-4 col-md-4 control-label">Grupo</label>
                <div class="col-lg-5 col-md-5">
                    <select id="groupId" name="groupId" class="form-control">
                        <option value=""></option>
                        <?php foreach ($this->groups as $key => $value) {
                            $selected = "";
                            if($this->form->get('groupId')->getValue() == $key){
                                $selected = " selected='true' ";
                            }
                            print "<option value='$key' $selected>$value</option>";

                        } ?>
                    </select>
                </div>
              </div>
              
              <div class="form-group <?php in_array("roleId", $this->errors)?print "has-error":""; ?>">
                <label for="mobile" class="col-lg-4 col-md-4 control-label">Perfil</label>
                <div class="col-lg-5 col-md-5">
                    <select id="roleId" name="roleId" class="form-control">
                        <option value=""></option>
                        <?php foreach ($this->roles as $key => $value) {
                            $selected = "";
                            if($this->form->get('roleId')->getValue() == $key){
                                $selected = " selected ";
                            }
                            print "<option value='$key' $selected>$value</option>";
                        } ?>
                    </select>
                </div>
                
              </div>
              
              <div class="form-group <?php in_array("expire", $this->errors)?print "has-error":""; ?>">
                <label for="name" class="col-lg-4 col-md-4 control-label">Usuario vence</label>
                <div class="col-lg-3 col-md-3 input-group date" id="datetimepicker2" data-date-format="YYYY-MM-DD">
                    <input class="form-control" id="expire" readonly="yes" type="text" name="expire" value="<?php print $this->form->get('expire')->getValue()?$this->form->get('expire')->getValue():date('Y-m-d',strtotime(date("Y-m-d", mktime()) . " + ".$this->expire_user." day")); ?>">
                    <span class="input-group-addon"><i data-time-icon='icon-time' data-date-icon='icon-calendar' class="fa fa-calendar"></i></span>
                </div>
              </div>
              
              <div class="form-group">
                <label for="name" class="col-lg-4 col-md-4 control-label">Activo</label>
                <div class="col-lg-5 col-md-5">
                    <input class="" id="active" type="checkbox" name="active" value="1" checked="checked">
                </div>
              </div>
              
              <p>&nbsp;</p>

              <div class="form-group">
                <div class="col-lg-5 col-md-5 col-lg-offset-4">
                  <a href="<?php print $this->url('user'); ?>" class="btn btn-default">Cancelar</a>
                  <button type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>
              <?php if(!empty($this->error_message)) { ?>
                <div class="alert alert-dismissable alert-danger">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <strong><?php print $this->error_message; ?></strong>
                </div>
              <?php } ?>
            </fieldset>
          </form>


 <script type="text/javascript">
    $(document).ready(function() {
          $('#datetimepicker1').datetimepicker({
            pickTime: false
          });
          $('#datetimepicker2').datetimepicker({
            pickTime: false
          });
    });
</script>
