<div class="col-lg-12">
    <h1 class="page-header">Configuración <small>/ Usuarios</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('configuration'); ?>">Configuración</a></li>
    <li class="active"><a href="<?php print $this->url('user'); ?>">Usuarios</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('user',array("action"=>"add")); ?>">Nuevo usuario</a>
        <br>Crea un nuevo usuario en nexus
    </p>

    <p>
        <a href="<?php print $this->url('user',array("action"=>"list")); ?>">Listado de usuarios</a>
        <br>Listado de todos los usuarios de nexus
    </p>

</div>