
<div class="col-lg-12">
    <h1 class="page-header">Configuración <small>/ Usuarios</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('configuration'); ?>">Configuración</a></li>
    <li class=""><a href="<?php print $this->url('user'); ?>">Usuarios</a></li>
    <li class="active"><a href="#">Listado</a></li>
</div>

<br>

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Nombre Completo</th>
            <th>Usuario</th>
            <th>Grupo</th>
            <th>Perfil</th>
            <th style="width: 150px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($this->paginator as $user) { ?>
        <tr id="<?php print $user->id; ?>">
            <td><?php print $user->name; ?></td>
            <td><?php print $user->username; ?></td>
            <td><?php print $user->group; ?></td>
            <td><?php print $user->role; ?></td>
            <td>
                <a class="btn btn-link btn-xs text-warning" href="<?php print $this->url('user',array('action'=>'edit','id'=>$user->id)); ?>"><i class="fa fa-edit"></i> Editar</a>
                <a class="btn btn-link btn-xs text-danger <?php print $user->id==$this->currentUser->id?"disabled":""; ?>" data-toggle="modal" data-target="#myModal" data-id="<?php print $user->id; ?>"><i class="fa fa-trash-o"></i> Eliminar</a>      
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php 
    if(!is_null($this->paginator)) {
        echo $this->paginationControl(
            $this->paginator, 'Sliding', 'paginator-user', array('orderby' => 'id', 'order' => 'asc')
        );
    }
?>



<!-- Eliminar Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Usuario</h4>
      </div>
      <div class="modal-body">
          <p class="lead">Deseas eliminar este usuario?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

var user = {
    
    id          : null,
    deleteUrl   : "<?php print $this->url('user',array('action'=>'delete')); ?>",
    deleteModal : $('#myModal'),
    
    delete : function(){
        
        var _this = user;
        if(_this.id === null) return;
        
        $.ajax({
            url :   _this.deleteUrl + "/" + _this.id
        }).done(function( data ) {
            
            if ( console && console.log ) {
                console.log( data );
            }
            
            _this.deleteModal.modal('hide');
            $('tr#'+_this.id).addClass('text-danger');
            $('tr#'+_this.id).fadeOut(2000);
        }).fail(function( data ){
            if ( console && console.log ) {
                console.log( data );
            }
        });
    }
};

$(document).ready(function(){
    
    $("a").click(function(){
        if($(this).hasClass('disabled')){
            return;  
        }
    });
    /*
     * Al hacer click sobre el link Eliminar de cualquier usuario.
     */
    $("a.text-danger").click(function(){
        user.id = $(this).data("id");
    });
    
     /*
     * Al hacer click sobre el link Eliminar del modal.
     */
    $("button.btn-danger").click(user.delete);
    
    /*
     * Cuando el modal se cierra.
     */
    user.deleteModal.on('hidden.bs.modal', function (e) {
        user.id = null;
    });

});
</script>
