<?php if ($this->pageCount): ?>
    
    <div class="text-center">
        <ul class="pagination">
            <li <?php echo!isset($this->previous) ? 'class="disabled"' : ''; ?>>
                <a href="<?php echo $this->url('user', array('page' => $this->first, 'orderby' => 'id', 'order' => 'asc',)); ?>">&laquo;</a></li>
            <li <?php echo!isset($this->previous) ? 'class="disabled"' : ''; ?>>
                <a href="<?php echo $this->url('user', array('page' => $this->previous, 'orderby' => 'id', 'order' => 'asc',)); ?>">&lsaquo;</a></li>

            <!-- Numbered page links -->
            <?php foreach ($this->pagesInRange as $page): ?>
                <li <?php echo $page == $this->current ? 'class="active"' : ''; ?>><a href="<?php echo $this->url('user', array('page' => $page, 'orderby' => 'id', 'order' => 'asc',)); ?>">
                        <?php echo $page; ?>
                    </a></li>
            <?php endforeach; ?>

            <!-- Next page link -->
            <li <?php echo!isset($this->next) ? 'class="disabled"' : ''; ?>>
                <a href="<?php echo $this->url('user', array('page' => $this->next, 'orderby' => 'id', 'order' => 'asc',)); ?>">&rsaquo;</a></li>
            <!-- Last page link -->
            <li <?php echo!isset($this->next) ? 'class="disabled"' : ''; ?>>
                <a href="<?php echo $this->url('user', array( 'page' => $this->last, 'orderby' => 'id', 'order' => 'asc',)); ?>">&raquo;</a></li>
        </ul>
    </div>
<?php endif; ?>