<script src="<?php print $this->basePath(); ?>/lib/codemirror-4.6/lib/codemirror.js"></script>
<link rel="stylesheet" href="<?php print $this->basePath(); ?>/lib/codemirror-4.6/lib/codemirror.css">
<script src="<?php print $this->basePath(); ?>/lib/codemirror-4.6/mode/xml/xml.js"></script>

<style>
    textarea {
        font-size: 13px !important;
    }
    .CodeMirror {
      border: 1px solid lightgray;
    }
</style>
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Comandos o Plantillas XML</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class=""><a href="<?php print $this->url('xmltemplate'); ?>">Comandos o Plantillas XML</a></li>
    <li class=""><a href="<?php print $this->url('xmltemplate',array('action'=>'list')); ?>">Listado</a></li>
    <li class="active"><a href="#">Editar</a></li>
</div>

<br>

<form class="form-horizontal" accept-charset="UTF-8" service="form" action="<?php echo $this->url('xmltemplate',array('action'=>'edit','id'=>$this->xmltemplate->id)); ?>" method="post">
    <input id="id" type="hidden" name="id" value="<?php print $this->xmltemplate->id; ?>">
    <fieldset>

      <div class="form-group">
        <label for="username" class="col-lg-2 col-md-2 control-label">Descripción</label>
        <div class="col-lg-4 col-md-4">
          <input class="form-control" id="name" placeholder="Descripción del comando" type="text" name="name" value="<?php print $this->form->get('name')->getValue(); ?>">
        </div>
      </div>

     

      <div class="form-group">
        <label for="username" class="col-lg-2 col-md-2 control-label">Comando XML</label>
        <div class="col-lg-4 col-md-4">
          <input class="form-control" id="command" placeholder="Comando a ejecutar en el XML" type="text" name="command" value="<?php print $this->form->get('command')->getValue(); ?>">
        </div>
      </div>
      
      

      <div class="form-group">
        
      <div class="col-lg-12 col-md-12">
        <label>XML</label><br>
          <textarea id="xml" placeholder="XML" name="xml" rows="20" ><?php print $this->form->get('xml')->getValue(); ?></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="category" class="col-lg-2 col-md-2 control-label">Tipo de XML</label>
        <div class="col-lg-4 col-md-4">
          <?php print $this->formSelect($this->form->get('category')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="addXmlTemplateId" class="col-lg-2 col-md-2 control-label">Comando o Plantilla XML de creación</label>
        <div class="col-lg-4 col-md-4">
          <?php print $this->formSelect($this->form->get('addxmltemplateId')); ?>
        </div>
      </div>

       

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('xmltemplate',array('action'=>'list')); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </fieldset>
  </form>

<script>
var xmltemplate = { 
    
    variables : [],
    
    getVariables : function() 
    {
        var pattern = /%\S*%/mgi;
        var val = $("textarea").val();
        var lines = val.split('\n');
        xmltemplate.variables = [];
        for(var i = 0; i < lines.length; i++)
        {
            if(lines[i].match(pattern))
            {
                variable = lines[i].match(pattern);
                if(variable instanceof Array){  
                    variable = variable[0];
                } 
                
                if(xmltemplate.variables.indexOf(variable) == -1){
                    xmltemplate.variables.push(variable);
                }
                
            } 
        }
        
        if(xmltemplate.variables.length > 0){
            $(".form-group button.btn-success").html("Guardar y Mapear Variables");
        } else {
            $(".form-group button.btn-success").html("Guardar");
        }
    }
};

      var dummy = {
        attrs: {
          color: ["red", "green", "blue", "purple", "white", "black", "yellow"],
          size: ["large", "medium", "small"],
          description: null
        },
        children: []
      };

      var tags = {
        "!top": ["top"],
        "!attrs": {
          id: null,
          class: ["A", "B", "C"]
        },
        top: {
          attrs: {
            lang: ["en", "de", "fr", "nl"],
            freeform: null
          },
          children: ["animal", "plant"]
        },
        animal: {
          attrs: {
            name: null,
            isduck: ["yes", "no"]
          },
          children: ["wings", "feet", "body", "head", "tail"]
        },
        plant: {
          attrs: {name: null},
          children: ["leaves", "stem", "flowers"]
        },
        wings: dummy, feet: dummy, body: dummy, head: dummy, tail: dummy,
        leaves: dummy, stem: dummy, flowers: dummy
      };

      function completeAfter(cm, pred) {
        var cur = cm.getCursor();
        if (!pred || pred()) setTimeout(function() {
          if (!cm.state.completionActive)
            cm.showHint({completeSingle: false});
        }, 100);
        return CodeMirror.Pass;
      }

      function completeIfAfterLt(cm) {
        return completeAfter(cm, function() {
          var cur = cm.getCursor();
          return cm.getRange(CodeMirror.Pos(cur.line, cur.ch - 1), cur) == "<";
        });
      }

      function completeIfInTag(cm) {
        return completeAfter(cm, function() {
          var tok = cm.getTokenAt(cm.getCursor());
          if (tok.type == "string" && (!/['"]/.test(tok.string.charAt(tok.string.length - 1)) || tok.string.length == 1)) return false;
          var inner = CodeMirror.innerMode(cm.getMode(), tok.state).state;
          return inner.tagName;
        });
      }




$(document).ready(function(){

    xmltemplate.getVariables();
    $("textarea").keyup(xmltemplate.getVariables);

      var editor = CodeMirror.fromTextArea(document.getElementById("xml"), {
        mode: "xml",
        lineNumbers: true,
        column : 200,
        extraKeys: {
          "'<'": completeAfter,
          "'/'": completeIfAfterLt,
          "' '": completeIfInTag,
          "'='": completeIfInTag,
          "Ctrl-Space": "autocomplete"
        },
        hintOptions: {schemaInfo: tags}
      }); 

    

      

    



});






</script>