
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Comandos o Plantillas XML</small></h1>
</div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class="active"><a href="#">Comandos o Plantillas XML</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('xmltemplate',array("action"=>"add")); ?>">Nuevo comando o plantilla XML</a>
        <br>Crea un nuevo comando o plantilla XML utilizado para aprovisionar
    </p>

    <p>
        <a href="<?php print $this->url('xmltemplate',array("action"=>"list")); ?>">Listado de comandos o plantillas XML</a>
        <br>Listado de todos los comandos y su plantilla XML asociado
    </p>

</div>