
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Comandos o Plantillas XML</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class=""><a href="<?php print $this->url('xmltemplate'); ?>">Comandos o Plantillas XML</a></li>
    <li class="active"><a href="#">Listado</a></li>
</div>

<br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Descripción del Comando</th>
            <th>Tipo de comando XML</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    <?php $i = 1; foreach ($this->xmltemplates as $xmltemplate) { ?>
        <tr id="<?php print $xmltemplate->id; ?>">
            <td><?php print $i++; ?></td>
            <td><?php print $xmltemplate->name; ?></td>
            <td><?php print $xmltemplate->category; ?></td>
            <td>
                <a class="btn btn-link btn-xs text-warning" href="<?php print $this->url('xmltemplate',array('action'=>'edit','id'=>$xmltemplate->id)); ?>"><i class="fa fa-edit"></i> Editar</a>
                <a class="btn btn-link btn-xs text-danger"  data-toggle="modal" data-target="#myModal" data-id="<?php print $xmltemplate->id; ?>"><i class="fa fa-trash-o"></i> Eliminar</a>
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>


<!-- Eliminar Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Comando</h4>
      </div>
      <div class="modal-body">
          <p class="lead">Deseas eliminar este comando?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

var xmltemplate = {
    
    id          : null,
    deleteUrl   : "<?php print $this->url('xmltemplate',array('action'=>'delete')); ?>",
    deleteModal : $('#myModal'),
    
    delete : function(){
        var _this = xmltemplate;
        if(_this.id === null) return;
        
        $.ajax({
            url :   _this.deleteUrl + "/" + _this.id
        }).done(function( data ) {
            
            if ( console && console.log ) {
                console.log( data );
            }
            
            _this.deleteModal.modal('hide');
            $('tr#'+_this.id).addClass('text-danger');
            $('tr#'+_this.id).fadeOut(2000);
        }).fail(function( data ){
            if ( console && console.log ) {
                console.log( data );
            }
        });
    }
};

$(document).ready(function(){
    /*
     * Al hacer click sobre el link Eliminar de cualquier usuario.
     */
    $("a.text-danger").click(function(){
        xmltemplate.id = $(this).data("id");
    });
    
     /*
     * Al hacer click sobre el link Eliminar del modal.
     */
    $("button.btn-danger").click(xmltemplate.delete);
    
    /*
     * Cuando el modal se cierra.
     */
    xmltemplate.deleteModal.on('hidden.bs.modal', function (e) {
        xmltemplate.id = null;
    });

});
</script>