
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Comandos o Plantillas XML</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class=""><a href="<?php print $this->url('xmltemplate'); ?>">Comandos o Plantillas XML</a></li>
    <li class=""><a href="<?php print $this->url('xmltemplate',array('action'=>'list')); ?>">Listado</a></li>
    <li class=""><a href="<?php print $this->url('xmltemplate',array('action'=>'edit','id'=>$this->id)); ?>">Editar</a></li>
    <li class="active"><a href="#">Variables</a></li>
</div>

<br>

<form class="form-horizontal" accept-charset="UTF-8" service="form" action="<?php echo $this->url('xmltemplate',array('action'=>'variable','id'=>$this->id)); ?>" method="post">
<table class="table">
    <thead>
        <tr>
            <th>Nombre de Variable</th>
            <th>Relación u objeto</th>
            <th>Atributo del objeto o relación</th>
            <th>Trato</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($this->variables as $variable) { ?>
        
    <?php if(!in_array($variable->name,$this->variablesInXml)){ ?>
        <input type="hidden" value="<?php print $variable->id; ?>" name="delete<?php print $variable->id; ?>"/>
    <?php } else { ?>
        <input type="hidden" value="<?php print $variable->id; ?>" name="id<?php print $variable->id; ?>"/>
        <input type="hidden" value="<?php print $variable->name; ?>" name="name<?php print $variable->id; ?>"/>
    <?php } ?>   
    <tr <?php print !in_array($variable->name,$this->variablesInXml)?"class=danger":""; ?> id="<?php print $variable->id; ?>">
            <td><?php print $variable->name; ?></td>
            <td><?php if(!in_array($variable->name,$this->variablesInXml)){ 
                print "Variable ya no está en el XML.";
            } else { 
                ?>
                <select id="mappingObject<?php print $variable->id;?>" name="mappingObject<?php print $variable->id;?>" class="object">
                    <option value=""></option>
                    <?php 
                        foreach ($this->objects as $object => $objeto) {
                           print "<option value='$object' ";
                           if($variable->mapping_object == $object){
                               print "selected ";
                           }
                            print ">" .$objeto."</option>" ;            
                        }
                    ?>
                </select>
                <?php
            } ?></td>
            <td><?php if(!in_array($variable->name,$this->variablesInXml)){ 
                print "Será eliminada.";
            } else { 
                ?>
                <select id="mappingAttribute<?php print $variable->id;?>" name="mappingAttribute<?php print $variable->id;?>">
                    <option value='<?php print $variable->mapping_attribute; ?>'><?php print $variable->mapping_attribute; ?></option>
                </select>

                <?php
            } ?></td>
            <td>
            <?php if(in_array($variable->name,$this->variablesInXml)){ ?>
                <select id="treatment<?php print $variable->id;?>" name="treatment<?php print $variable->id;?>">
                    <option value=""></option>
                    <option value="initials" <?php print $variable->treatment=="initials"?"selected":"";?>>Solo iniciales</option>
                    <option value="concat" <?php print $variable->treatment=="concat"?"selected":"";?>>Concatenar con _</option>
                </select>
            <?php } ?>
            </td>
             <td>
        
          

            
            

            
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('xmltemplate',array('action'=>'list')); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>
</form>

<script>
    
var variable = {
    
    attributes : {},
    
    init : function(){
        <?php 
        foreach ($this->attributes as $object => $attributes) {
            print "if(!('$object' in variable.attributes)){
                variable.attributes.$object = [];
            }\n";
            foreach ($attributes as $value) {
                print "variable.attributes.$object.push('$value');\n"; 
            }
        }
        ?>
        $("select.object").each(function() {
            if($(this).val() !== ""){
                var id = $(this).attr('id').replace("mappingObject", "");
                var options = $("#mappingAttribute"+id);
                $.each(variable.attributes[$(this).val()], function(e,v) {
                    options.append("<option value='"+v+"'>"+v+"</option>");
                });
            }    
        });
    },
    
    populate : function(){
        var id = this.id;
        id = id.replace("mappingObject", "");
        var options = $("#mappingAttribute"+id);
        options.find('option').remove().end();
        options.append("<option value=''>     </option>");
        $.each(variable.attributes[this.value], function(element,value) {
            options.append("<option value='"+value+"'>"+value+"</option>");
        });
    }
};
    
$(document).ready(function(){
    variable.init();
    $("select.object").change(variable.populate);



});
</script>