
<div class="col-lg-12">
    <h1 class="page-header">Órdenes 1.1</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    
    <li class="active"><a href="#">Nueva Orden</a></li>
</div>

<br><br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo 
$this->url('order',array('action'=>'add','id' => $order->id )); ?>" method="post">
    
    <fieldset>
      <?php print $this->formHidden($form->get('platformId')); ?>
      <legend>Información General de la Orden</legend>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">CIS ORDEN ID</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formRow($form->get('cisid')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Caso o Escenario</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formSelect($form->get('caseId')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Comentario o Descripción</label>
        <div class="col-lg-5 col-md-5">
            <?php print $this->formTextarea($form->get('description')); ?>
        </div>
      </div>
    
    </fieldset>

  </form>
