
<div class="col-lg-12">
    <h1 class="page-header">Órdenes 1.1</h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class="active"><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('order',array("action"=>"add")); ?>">Nueva órden</a>
        <br>Crea una nueva orden para aprovisionar
    </p>

    <p>
        <a href="<?php print $this->url('order',array("action"=>"list")); ?>">Listado de órdenes</a>
        <br>Listado de todas las órdenes aprovisionadas
    </p>

</div>

