<!-- QUANTIC GRID -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/lib/QGRID/_QG.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {

      _QG.init({

          isFilterEnabled     : true,
          isPaginationEnabled : true,
          isPerPageEnabled    : true,
          isOrderEnabled      : true,
          orderby             : 'date_created',
          sort                : { default:'desc',alt:'down'},
          <?php if(isset($cisid)) {
                print "filters : { cisid : '$cisid' },";
          } ?>
          //hasOptionsColumn    : true,

          loaderImage         : "<?php echo $this->basePath() . '/img/ajax-loader-bar.gif'?>",
          templateDir         : '<?php echo $this->basePath(); ?>/lib/QGRID/templates',
          source              : "<?php echo $this->url('order',array('action'=>'filter'));?>",
          //columns             : ['type','ports','initemplate_id','firmware_id'],
          cols                : [
                                    {   default     :'nexusid',
                                        translated  :'NEXUS ID'  },
                                    {   default     :'cisid',
                                        translated  :'#CIS ID'  }, 
                                    {   default     :'group',
                                        translated  :'Cliente'  },                                      
                                    {   default     :'case',
                                        translated  :'Escenario'  },
                                    {   default     :'date_created',
                                        translated  :'Fecha De Creación'  },
                                    {   default     :'status',
                                        translated  :'Estado'  }
                                ],
           inputs              : [
                                  {
                                    id    :'id',
                                    label :'NEXUS ID',
                                    type  :'text'
                                  },
                                  {
                                    id    :'cisid',
                                    label :'#CIS ID',
                                    type  :'text'
                                  },
                                  {
                                    id    :'group',
                                    label :'Cliente',
                                    type  :'text'
                                  },
                                  {
                                    id    :'case',
                                    label :'Escenario',
                                    type  :'text'
                                  },
                                  {
                                    id    :'date_created',
                                    label :'Fecha De Creación',
                                    type  :'calendar',
                                    use2dates : true,
                                    datetimepicker : {
                                        pickDate : true,
                                        pickTime : true
                                    }
                                  }
                                ]
      });

      _QGEngine.start();

    <?php if(isset($cisid)) {
            print "$('input#quick-cisid').val('$cisid');";
    } ?>
      
  });
</script>

<div class="col-lg-12">
    <h1 class="page-header">Órdenes 1.1</h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('order'); ?>">Opciones</a></li>
    <li class="active"><a href="#">Lista de órdenes</a></li>
    
</div>

<br>

<div id="_QG"></div>

