
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Service Providers</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('provider'); ?>">Service Providers</a></li>
    <li class="active"><a href="#">Nuevo</a></li>
</div>

<br>

<form class="form-horizontal" accept-charset="UTF-8" provider="form" action="<?php echo $this->url('provider',array('action'=>'add')); ?>" method="post">
    <fieldset>

      <div class="form-group">
        <label for="name" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
          <input class="form-control" id="name" placeholder="Nombre del service provider" type="text" name="name" value="<?php print $this->form->get('name')->getValue(); ?>">
          <span class="text-danger"><?php print $this->summary; ?></span>
        </div>
      </div>

      <div class="form-group">
        <label for="domain" class="col-lg-4 col-md-4 control-label">Dominio</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($this->form->get('domain')); ?>
        </div>
      </div>

      <p>&nbsp;</p>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('provider'); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </fieldset>
  </form>
