
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Service Providers</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class="active"><a href="<?php print $this->url('provider'); ?>">Service Providers</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('provider',array("action"=>"add")); ?>">Nuevo Service Provider</a>
        <br>Crea un nuevo Service Provider para aprovisionar
    </p>

    <p>
        <a href="<?php print $this->url('provider',array("action"=>"list")); ?>">Listado de Service Provider</a>
        <br>Listado de todos los Service Providers
    </p>

</div>
