<!-- QUANTIC GRID -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/lib/QGRID/_QG.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {

      _QG.init({

          isFilterEnabled     : true,
          isPaginationEnabled : true,
          isPerPageEnabled    : true,
          isOrderEnabled      : true,
          orderby             : 'name',
          sort                : { default:'desc',alt:'down'},
          hasOptionsColumn    : true,

          loaderImage         : "<?php echo $this->basePath() . '/img/ajax-loader-bar.gif'?>",
          templateDir         : '<?php echo $this->basePath(); ?>/lib/QGRID/templates',
          source              : "<?php echo $this->url('provider',array('action'=>'filter'));?>",
          //columns             : ['type','ports','initemplate_id','firmware_id'],
          cols                : [
                                    {   default     :'name',
                                        translated  :'Nombre'  },
                                    {   default     :'domain',
                                        translated  :'Dominio'  },
                                    {   default     :'isenterprise',
                                        translated  :'Es Empresa'  },
                                    {   default     :'inbroadsoft',
                                        translated  :'En Broadsoft'  },
                                    {   default     :'options',
                                        translated  :'Opciones'  }
                                ],
           inputs              : [
                                  {
                                    id    :'name',
                                    label :'Nombre',
                                    type  :'text'
                                  },
                                  {
                                    id    :'domain',
                                    label :'Dominio',
                                    type  :'text'
                                  },
                                  {
                                    id    :'isenterprise',
                                    label :'Es Empresa',
                                    type  :'select',
                                    options : [{label:'Si',value:'true'},{label:'No',value:'false'}]
                                  },
                                  {
                                    id    :'inbroadsoft',
                                    label :'En Broadsoft',
                                    type  :'select',
                                    options : [{label:'Si',value:'1'},{label:'No',value:'0'}]
                                  }
                                ],
            filters           : {
                                      isenterprise : 'false'
                                }
      });

      _QGEngine.start();

      $("#sync").click(function(){

            $("#sync i").addClass("fa-spin");
            $("#sync").addClass("disabled");
            $("div._QG_REFRESH").show();
            $("div._QG_LOADER").show();

            var request = $.ajax(
            {
                url     : "<?php echo $this->url('provider',array('action'=>'sync'));?>",
                type    : "GET",
                data    : {},
                //async   : false,
            });

            request.done(function(data){
                
                $("#sync i").removeClass("fa-spin");
                $("#sync").removeClass("disabled");

                if(data.status == "success"){
                    _QGEngine.fetch();
                } else {
                    $("div._QG_REFRESH").hide();
                    $("div._QG_LOADER").hide();
                    alert(data.payload);
                }
            });
      });
      
  });
</script>



<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Service Providers</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('provider'); ?>">Service Providers</a></li>
    <li class="active"><a href="#">Listado</a></li>
</div>

<br>

<p><button type="button" id="sync" class="btn"><i class="fa fa-refresh"></i> Sincronizar con Broadsoft</button></p>

<div id="_QG"></div>




<!-- Eliminar Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Service Provider</h4>
      </div>
      <div class="modal-body">
          <p class="lead">Deseas eliminar este Service Provider? </br> Se eliminará también de Broadsoft.</p>
          <span class="text-danger" id="error"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

var provider = {
    
    id          : null,
    deleteUrl   : "<?php print $this->url('provider',array('action'=>'delete')); ?>",
    forcedeleteUrl: "<?php print $this->url('provider',array('action'=>'forcedelete')); ?>",
    deleteModal : $('#myModal'),
    
    delete : function(){

        var _this = provider;
        if(_this.id === null) return;

        var button = this;
        $(button).addClass("disabled").html("Eliminando . . .");
        
        $.ajax({
            url :   _this.deleteUrl + "/" + _this.id
        }).done(function( data ) {
            
            if ( console && console.log ) {
                console.log( data );
            }

            if(data.status == 'error'){
              $("span#error").html(data.payload);
            } else {
              _this.deleteModal.modal('hide');
              _QGEngine.fetch();
            }
            
            $(button).removeClass("disabled").html("Eliminar");

        }).fail(function( data ){
            if ( console && console.log ) {
                console.log( data );
            }
            
            $(button).removeClass("disabled").html("Eliminar");

        });
    },

    forcedelete : function(){
        var _this = provider;
        if(_this.id === null) return;
        
        $.ajax({
            url :   _this.forcedeleteUrl + "/" + _this.id
        }).done(function( data ) {
            
            if ( console && console.log ) {
                console.log( data );
            }

            if(data.status == 'error'){
              $("span#error").html(data.payload);
            } else {
              _this.deleteModal.modal('hide');
              _QGEngine.fetch();
            }
            

        }).fail(function( data ){
            if ( console && console.log ) {
                console.log( data );
            }
        });
    }
};

$(document).on("_QG_GRID_DONE",function(){
    /*
     * Al hacer click sobre el link Eliminar de cualquier usuario.
     */
    $("a.text-danger").click(function(){
        provider.id = $(this).data("id");
    });
    
     /*
     * Al hacer click sobre el link Eliminar del modal.
     */
    $("button.btn-danger").click(provider.delete);


    $('span#error').bind('DOMNodeInserted', function(e) {
            /*
             * Al hacer click sobre el link Eliminar De Todas Formas del modal.
             */
            $("a#forcedelete").css("cursor","pointer");
            $("a#forcedelete").click(provider.forcedelete);
    });
    
    /*
     * Cuando el modal se cierra.
     */
    provider.deleteModal.on('hidden.bs.modal', function (e) {
        provider.id = null;
        $("span#error").html("");
    });

});

</script>