
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Service Providers</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('provider'); ?>">Service Providers</a></li>
    <li class="active"><a href="#">Detalle</a></li>
</div>

<br>

    <fieldset>

      <div class="form-group">
        <label for="name" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->provider->name; ?>
        </div>
      </div>

      <div class="form-group">
        <label for="domain" class="col-lg-4 col-md-4 control-label">Dominio Predeterminado</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->provider->domain; ?>
        </div>
      </div>

      <div class="clearfix"></div>
      
      <div class="form-group">
        <label for="isenterprise" class="col-lg-4 col-md-4 control-label">Es Empresa</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->provider->isenterprise; ?>
        </div>
      </div>

      <div class="clearfix"></div>
      <p>&nbsp;</p>


      <table class="table table-striped">
        <thead>
            <tr>
                <th>Otros Dominios Asignados</th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($this->domains as $domain) { ?>
            <tr><td><?php print $domain->name; ?></td></tr>
        <?php } ?>
        </tbody>
      </table>

      <p><button type="button" id="sync" class="btn"><i class="fa fa-refresh"></i> Sincronizar Dominios con Broadsoft</button></p>


      <p>&nbsp;</p>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('provider',array('action'=>'list')); ?>" class="btn btn-default">Regresar</a>
        </div>
      </div>

    </fieldset>

<script>
      $("#sync").click(function(){

            $("#sync i").addClass("fa-spin");
            $("#sync").addClass("disabled");

            var request = $.ajax(
            {
                url     : "<?php echo $this->url('provider',array('action'=>'syncprovider',id=> $this->provider->id ));?>",
                type    : "GET",
                data    : {},
                //async   : false,
            });

            request.done(function(data){
                
                $("#sync i").removeClass("fa-spin");
                $("#sync").removeClass("disabled");

                if(data.status == "success"){
                    window.location.reload();
                } else {
                    alert(data.payload);
                }
            });
      });

</script>
