<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>

<script>
$(document).ready(function(){
	$("#upload-input").change(function(){
		$("#examinar").html(this.value);
	});

	function submitForm() {

        var fd = new FormData(document.getElementById("upload-form"));

	    $("span.btn-file").addClass("disabled");
	    $("#upload-button").addClass("disabled");
	    $("span#result").html(" <button type='button' class='btn btn-link' id='ajax'>Cancelar</button><i class='fa fa-spinner fa-pulse'></i> Subiendo fichero <span id='per'><span> ");

        var xhr = new window.XMLHttpRequest();

        $.ajax({
            url: "<?php print $this->url('firmware',array('action'=>'upload')); ?>",
            type: "POST",
            data: fd,
            enctype: 'multipart/form-data',
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            xhr: function () {
                //Upload progress
                xhr.upload.addEventListener("progress", function(evt){
                  if (evt.lengthComputable) {
                    var percentComplete = evt.loaded / evt.total;
                    var per = Math.round(percentComplete * 100) + "% ";
                    var lod = Math.round(evt.loaded / 1000) + " kb ";
                    var tot = Math.round(evt.total / 1000) + " kb ";
                    //Do something with upload progress
                    $("span#per").html(per + "( " + lod + "  de  " + tot + " )");
                  }
                }, false);
                return xhr;
            }
        }).done(function( data ) {

    		if(data.result == 'success'){
                setTimeout(function(){window.location.reload();}, 2);
    		} else {
    			alert(JSON.stringify(data.payload));
    		}

	        $("span.btn-file").removeClass("disabled");
        	$("#upload-button").removeClass("disabled");
	        $("span#result").html("");
        });

        $("button#ajax").click(function(event) {
            xhr.onreadystatechange = null;
            xhr.abort();
            $("span#result").html("");
            $("span.btn-file").removeClass("disabled");
            $("#upload-button").removeClass("disabled");
        });

        return false;
    }

	$("#upload-button").click(submitForm);
});
</script>

<div class="col-lg-12">
    <h1 class="page-header">Device Manager <small>/ Firmware</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('devicemanager'); ?>">Device Manager</a></li>
    <li class="active"><a href="#">Firmware</a></li>
</div>

<br>

	<p>	<form id="upload-form" name="upload-form">
			<span class="btn btn-default btn-file btn-sm">
        			<span id="examinar">Examinar . . . </span> <input type="file" id="upload-input" name="upload-input"/>
    			</span>
			<button type="button" id="upload-button" class="btn btn-primary btn-sm"><i class="fa fa-upload"></i> Subir fichero</button><span id="result"></span>
		</form>
	</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($this->firmwares as $firmware) { ?>
                <tr id="<?php print $firmware->id; ?>">
                    <td><?php print $firmware->name; ?></td>
                    <td><?php print $firmware->created; ?></td>
                    <td>
			             <a class="btn btn-link btn-xs text-warning" href="<?php echo $this->url('firmware',array('action'=>'download','id'=>$firmware->id)); ?>"><i class="fa fa-download"></i> Descargar</a>
                        <a class="btn btn-link btn-xs text-warning remove" id="<?php print $firmware->id; ?>"><i class="fa fa-trash"></i> Eliminar</a>
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>

<script>
    $(document).ready(function() {
        $("a.remove").click(function(event) {

            var message = "Desea eliminar este firmware del sistema? \n\nNOTA: Este firmware pudiera estar siendo utilizado para un dispositivo";
            var firmwareId = this.id;

            if(confirm(message))
            {
                  $.ajax({
                    url: "<?php echo $this->url('firmware',array('action'=>'delete')); ?>/" + firmwareId,
                    type: 'GET',
                  }).done(function(data) {

                        if(data.status == 'error'){
                            alert(data.payload);
                        } else {
                            $( "tr#" + firmwareId ).fadeOut( "slow", function() {
                                $("tr#" + firmwareId).remove();
                            });
                        }

                  });
            }
        });
    });
</script>
