
<div class="col-lg-12">
    <h1 class="page-header">Device Manager</h1>
</div>

<div class="nav nav-tabs">
    <li class="active"><a href="#">Dispositivos</a></li>
    <li><a href="#">Archivos de Configuración</a></li>
    <li><a href="#">Firmware</a></li>
    <li><a href="#">Licencias</a></li>
</div>

<br>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>




<!-- Eliminar Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Servicio</h4>
      </div>
      <div class="modal-body">
          <p class="lead">Deseas eliminar este serviceo?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

var service = {
    
    id          : null,
    deleteUrl   : "<?php print $this->url('service',array('action'=>'delete')); ?>",
    deleteModal : $('#myModal'),
    
    delete : function(){
        var _this = service;
        if(_this.id === null) return;
        
        $.ajax({
            url :   _this.deleteUrl + "/" + _this.id
        }).done(function( data ) {
            
            if ( console && console.log ) {
                console.log( data );
            }
            
            _this.deleteModal.modal('hide');
            $('tr#'+_this.id).addClass('text-danger');
            $('tr#'+_this.id).fadeOut(2000);
        }).fail(function( data ){
            if ( console && console.log ) {
                console.log( data );
            }
        });
    }
};

$(document).ready(function(){
    /*
     * Al hacer click sobre el link Eliminar de cualquier usuario.
     */
    $("a.text-danger").click(function(){
        service.id = $(this).data("id");
    });
    
     /*
     * Al hacer click sobre el link Eliminar del modal.
     */
    $("button.btn-danger").click(service.delete);
    
    /*
     * Cuando el modal se cierra.
     */
    service.deleteModal.on('hidden.bs.modal', function (e) {
        service.id = null;
    });

});
</script>