
<p class="lead">&nbsp;</p>

<div class="list-group col-md-2">
    <a href="<?php print $this->url('role'); ?>" class="list-group-item">Lista de Roles</a>
    <a href="<?php print $this->url('role',array('action'=>'add')); ?>" class="list-group-item">Nuevo Rol</a>
</div>

<div class="panel panel-default col-md-10">
    <div class="panel-body">
        <form class="form-horizontal" accept-charset="UTF-8" role="form" action="<?php echo $this->url('role',array('action'=>'access','id'=>$this->id)); ?>" method="post">
            <input id="id" type="hidden" name="id" value="<?php print $this->id; ?>">
            <fieldset>
              <legend>Accesos del Rol<br/><br/>    </legend>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Módulo</th>
                            <th>Lectura</th>
                            <th>Escritura</th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->routes as $route) { ?>
                        <tr>
                            <td><?php print $route; ?></td>
                            <td><input type="checkbox" name="read" value="1"></td>
                            <td><input type="checkbox" name="write" value="1"></td>
                        </tr>
                    <?php } ?>
                    </tbody>
                </table>
              
              <p>&nbsp;</p>

              <div class="form-group">
                <div class="col-lg-6 col-md-6 col-lg-offset-2">
                    <a href="<?php print $this->url('role'); ?>" class="btn btn-default btn-sm">Cancelar</a>
                  <button type="submit" class="btn btn-success btn-sm">Guardar</button>
                </div>
              </div>
              
            </fieldset>
          </form>
    </div>
</div>
