<div class="col-lg-12">
    <h1 class="page-header">Configuración <small>/ Perfiles</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('configuration'); ?>">Configuración</a></li>
    <li class=""><a href="<?php print $this->url('role'); ?>">Perfiles</a></li>
    <li class="active"><a href="#">Nuevo</a></li>
</div>

<br>


        <form class="form-horizontal" accept-charset="UTF-8" role="form" action="<?php echo $this->url('role',array('action'=>'add')); ?>" method="post">
            <fieldset>

              <div class="form-group">
                <label for="username" class="col-lg-4 col-md-4 control-label">Nombre</label>
                <div class="col-lg-5 col-md-5">
                  <input class="form-control" id="name" placeholder="Nombre del rol" type="text" name="name">
                </div>
              </div>
              
              <div class="form-group">
                <label for="username" class="col-lg-4 col-md-4 control-label">Descripción</label>
                <div class="col-lg-5 col-md-5">
                  <input class="form-control" id="description" placeholder="Descripción corta del rol" type="text" name="description">
                </div>
              </div> 
              
              <p>&nbsp;</p>

              <div class="form-group">
                <div class="col-lg-5 col-md-5 col-lg-offset-4">
                    <a href="<?php print $this->url('role'); ?>" class="btn btn-default">Cancelar</a>
                  <button type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>
              
            </fieldset>
          </form>
