<div class="col-lg-12">
    <h1 class="page-header">Configuración <small>/ Perfiles</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('configuration'); ?>">Configuración</a></li>
    <li class="active"><a href="#">Perfiles</a></li>
</div>

<br>

 <div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('role',array("action"=>"add")); ?>">Nuevo perfil</a>
        <br>Crea un nuevo perfil
    </p>

    <p>
        <a href="<?php print $this->url('role',array("action"=>"list")); ?>">Listado de perfiles</a>
        <br>Listado de todos los perfiles
    </p>

</div>