<div class="col-lg-12">
    <h1 class="page-header">Configuración <small>/ Perfiles</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('configuration'); ?>">Configuración</a></li>
    <li class=""><a href="<?php print $this->url('role'); ?>">Perfiles</a></li>
    <li class="active"><a href="#">Listado</a></li>
</div>

<br>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del Perfil</th>
                    <th>Descripción</th>
                    <th>Usuarios</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($this->roles as $role) { ?>
                <tr id="<?php print $role->id; ?>">
                    <td><?php print $role->name; ?></td>
                    <td><?php print $role->description; ?></td>
                    <td><span class="badge">
                            <strong><?php print $role->usuarios?$role->usuarios:"0"; ?></strong>
                        </span></td>
                    <td>
                    <td style="width: 150px;">
                        <a class="btn btn-link btn-xs text-warning" href="<?php print $this->url('role',array('action'=>'edit','id'=>$role->id)); ?>"><i class="fa fa-edit"></i> Editar</a>
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>


<!-- Eliminar Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Rol</h4>
      </div>
      <div class="modal-body">
          <p class="lead">Deseas eliminar este perfil?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

var role = {
    
    id          : null,
    deleteUrl   : "<?php print $this->url('role',array('action'=>'delete')); ?>",
    deleteModal : $('#myModal'),
    
    delete : function(){
        var _this = role;
        if(_this.id === null) return;
        
        $.ajax({
            url :   _this.deleteUrl + "/" + _this.id
        }).done(function( data ) {
            
            if ( console && console.log ) {
                console.log( data );
            }
            
            _this.deleteModal.modal('hide');
            $('tr#'+_this.id).addClass('text-danger');
            $('tr#'+_this.id).fadeOut(2000);
        }).fail(function( data ){
            if ( console && console.log ) {
                console.log( data );
            }
        });
    }
};

$(document).ready(function(){
    /*
     * Al hacer click sobre el link Eliminar de cualquier usuario.
     */
    $("a.text-danger").click(function(){
        role.id = $(this).data("id");
    });
    
     /*
     * Al hacer click sobre el link Eliminar del modal.
     */
    $("button.btn-danger").click(role.delete);
    
    /*
     * Cuando el modal se cierra.
     */
    role.deleteModal.on('hidden.bs.modal', function (e) {
        role.id = null;
    });

});
</script>