
<div class="col-lg-12">
    <h1 class="page-header">Recursos</h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class="active"><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>    
</div>

<br>

<div class="col-lg-12 col-md-12">

    <p class="col-lg-6 col-md-6">
        <a href="<?php print $this->url('domain'); ?>">Dominios</a>
        <br>Administración de Dominios en Broadsoft.
    </p>

    <p class="col-lg-6 col-md-6">
        <a href="<?php print $this->url('provider'); ?>">Service Providers</a>
        <br>Administración de 'Service Providers' en Broadsoft.
    </p>

    <p class="col-lg-6 col-md-6">
        <a href="<?php print $this->url('grouptc'); ?>">Grupos</a>
        <br>Administración de 'Groups' en Broadsoft.
    </p>

    <p class="col-lg-6 col-md-6">
        <a href="<?php print $this->url('services'); ?>">Servicios</a>
        <br>Administración Servicios en Broadsoft
    </p>

    <p class="col-lg-6 col-md-6">
        <a href="<?php print $this->url('servicepack'); ?>">Paquetes De Servicios</a>
        <br>Administración 'ServicePacks' en Broadsoft
    </p>

    <p class="col-lg-6 col-md-6">
        <a href="#">Rangos Numéricos</a>
        <br>Administración de rangos numéricos en Broadsoft
    </p>


    <div class="clearfix"></div>
    <hr>

    <!--<p class="col-lg-6 col-md-6">
        <a href="<?php //print $this->url('product'); ?>">Productos</a>
        <br>Muestra el listado de los productos configurados en el sistema [DEPRECATED]
    </p>-->

    <p class="col-lg-6 col-md-6">
        <a href="<?php print $this->url('case'); ?>">Casos o Escenarios</a>
        <br>Muestra el listado de los casos o escenarios en Nexus
    </p>

    <p class="col-lg-6 col-md-6">
        <a href="<?php print $this->url('xmltemplate'); ?>">Comandos o Plantillas XML</a>
        <br>Muestra el listado de los comandos o plantillas XML en Nexus
    </p>

    <p class="col-lg-6 col-md-6">
        <a href="<?php print $this->url('devicemanager'); ?>">Device Manager</a>
        <br>Muestra las opciones para los dispositivos ATA
    </p>

    <p class="col-lg-6 col-md-6">
        <a href="<?php print $this->url('platform'); ?>">Plataformas Broadsoft</a>
        <br>Muestra las configuraciones de las distintas plataformas Broadsoft
    </p>

    <p class="col-lg-6 col-md-6">
        <a href="<?php print $this->url('structure'); ?>">Niveles De Estructura Broadsoft</a>
        <br>Muestra los niveles de estructura que soporta Broadsoft
    </p>

    <p class="col-lg-6 col-md-6">
        <a href="<?php print $this->url('typec'); ?>">Tipos de Cliente</a>
        <br>Muestra el listado de 'Tipos de cliente' que una empresa puede ser.
    </p>

    <div class="clearfix"></div>

</div>
