<style>
    body {
        padding-top: 0px !important;
        background: no-repeat center center fixed;
        background-color: #eaeaea;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    div.container#container-login {
        margin-top: 5%;
    }
    
    #logo {
        font-family: 'Titillium Web', sans-serif;
        color: #1E9DE5;
        text-shadow: 2px 2px white;
    }
    
    #logo-header {
        font-size: 60px;
    }
    
    #logo-description {
        font-size: 25px;
        color: #F45C25;
    }
    
    footer {
        color: black;
        background-color: white;
        border-top: solid 2px #067AB3;
        padding: 2px;
        opacity:1;
        filter:alpha(opacity=100); /* For IE8 and earlier */
    }
    
    .top {
        background-color: #067AB3;
        height: 2px;
    }
</style>

<div class="container" id="container-login">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="logo">
            <center id="logo-header">NEXUS</center>
            <center><img src="<?php echo $this->basePath() . "/img/CableWireless.png" ?>" height="35%" width="35%"/></center>
        </div>
        <div class="clearfix"></div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <?php foreach ($this->platforms as $platform) { ?>
            <?php if($platform->active == 1) { ?>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <a href="<?php echo $this->url('broadsoft',array(
                        'action'=>'choose',
                        'id'    => $platform->id,
                    )); ?>" 
                    class="btn btn-lg btn-<?php print $platform->class; ?> btn-block"><?php print $platform->name; ?></a>
                </div>
            <?php } ?>
        <?php } ?>
        
    </div>
</div>
