
<p class="lead">&nbsp;</p>

<div class="list-group col-md-2">
    <a href="<?php print $this->url('group'); ?>" class="list-group-item">Lista de Grupos</a>
    <a href="<?php print $this->url('group',array('action'=>'add')); ?>" class="list-group-item">Nuevo Grupo</a>
</div>

<div class="panel panel-default col-md-10">
    <div class="panel-body">
        <form class="form-horizontal" accept-charset="UTF-8" group="form" action="<?php echo $this->url('group',array('action'=>'edit','id'=>$this->group->id)); ?>" method="post">
            <input id="id" type="hidden" name="id" value="<?php print $this->group->id; ?>">
            <fieldset>
              <legend>Editar Grupo/Departamento<br/><br/>    </legend>

              <div class="form-group">
                <label for="username" class="col-lg-4 col-md-4 control-label">Nombre</label>
                <div class="col-lg-5 col-md-5">
                  <input class="form-control" id="name" placeholder="Nombre del grupo o departamento" type="text" name="name" value="<?php print $this->form->get('name')->getValue(); ?>">
                </div>
              </div>
              
              <div class="form-group">
                <label for="username" class="col-lg-4 col-md-4 control-label">Correo Electrónico</label>
                <div class="col-lg-5 col-md-5">
                  <input class="form-control" id="email" placeholder="Correo electrónico del grupo o depatamento" type="text" name="email" value="<?php print $this->form->get('email')->getValue(); ?>">
                </div>
              </div> 
              
              <p>&nbsp;</p>

              <div class="form-group">
                <div class="col-lg-5 col-md-5 col-lg-offset-4">
                    <a href="<?php print $this->url('group'); ?>" class="btn btn-default">Cancelar</a>
                  <button type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>
              
            </fieldset>
          </form>
    </div>
</div>
