
<div class="col-lg-12">
    <h1 class="page-header">Configuración <small>/ Preferencias</small></h1>
</div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('configuration'); ?>">Configuración</a></li>
    <li class=""><a href="<?php print $this->url('preference'); ?>">Preferencias</a></li>
    <li class="active"><a href="#">Global</a></li>
</div>

<br>

        <fieldset>
            <p>&nbsp;</p>
            <table class="table table-striped">
                <tbody>
                <?php foreach ($this->preferences as $preference) { ?>
                    <tr id="<?php print $preference->id; ?>">
                        <td class="col-md-7"><?php print $preference->description; ?> <span class="mutted"><em>(<strong><?php print $preference->name; ?></strong>)</em></span></td>
                        <td><strong id="value_<?php print $preference->id; ?>"><?php print $preference->value; ?></strong></td>
                        <td>
                            <a class="btn btn-link btn-xs text-warning"  href="#myModal" 
                               data-id="<?php print $preference->id; ?>"
                               data-name="<?php print $preference->name; ?>"
                               data-value="<?php print $preference->value; ?>"
                            ><i class="fa fa-edit"></i> Editar</a>
                        </td>
                    </tr>
                <?php } ?>
                </tbody>
            </table>
        </fieldset>


<!-- Eliminar Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Editar Preferencia</h4>
      </div>
      <div class="modal-body">
          <input type="hidden" id="id">
          <p class="lead" id="name"></p>
          <input type="text" id="value" class="col-md-8 col-lg-8">
          <br/><br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

var preference = {
    
    id          : null,
    name        : null,
    value       : null,
    
    updateUrl   : "<?php print $this->url('preference',array('action'=>'update')); ?>",
    updateModal : $('#myModal'),
    
    update : function(){
        var _this = preference;
        if(_this.id === null) return;
        _this.value = $(".modal input#value").val();
        
        $.ajax({
            url :   _this.updateUrl,
            type: "POST",
            data: { 
                id: _this.id, 
                value: _this.value
            }
        }).done(function( data ) {
            
            if ( console && console.log ) {
                console.log( data );
            }
            
            _this.updateModal.modal('hide');
            $('td strong#value_'+_this.id).html(_this.value);
            $('tr#'+_this.id+' a').attr('data-value', _this.value );
            //$('tr#'+_this.id).fadeOut(2000);
        }).fail(function( data ){
            if ( console && console.log ) {
                console.log( data );
            }
        });
    }
};

$(document).ready(function(){
    /*
     * Al hacer click sobre el link Eliminar de cualquier usuario.
     */
    $("a.text-warning").click(function(e){
        e.preventDefault();
        preference.id       = $(this).data("id");
        preference.name     = $(this).data("name");
        preference.value    = $('strong#value_' + preference.id).html();

        $(".modal input#id").val(preference.id);
        $(".modal input#value").val(preference.value);
        $(".modal p#name").html(preference.name);
        
        $($(this).attr('href')).modal('show');
    });
    
     /*
     * Al hacer click sobre el link Eliminar del modal.
     */
    $("button.btn-success").click(preference.update);
    
    /*
     * Cuando el modal se cierra.
     */
    preference.updateModal.on('hidden.bs.modal', function (e) {
        preference.id = null;
    });

});
</script>