
<div class="col-lg-12">
    <h1 class="page-header">Configuración <small>/ Preferencias</small></h1>
</div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('configuration'); ?>">Configuración</a></li>
    <li class="active"><a href="#">Preferencias</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('preference',array("action"=>"global")); ?>">Global</a>
        <br>Preferencias globales y generales del sistema nexus
    </p>

    <p>
        <a href="<?php print $this->url('preference',array("action"=>"component")); ?>">Componentes</a>
        <br>Preferencias de los distintos componentes con que el sistema nexus interactúa
    </p>
    
    <p>
        <a href="<?php print $this->url('preference',array("action"=>"provisioning")); ?>">Provisioning</a>
        <br>Preferencias de aprovisionamiento
    </p>

</div>