
<div class="col-lg-12">
    <h1 class="page-header">Device Manager <small>/ Opciones Y Variables</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('devicemanager'); ?>">Device Manager</a></li>
    <li class=""><a href="<?php print $this->url('inivariable',array('action'=>'list')); ?>">Opciones Y Variables</a></li>
    <li class="active"><a href="">Nuevo</a></li>
</div>

<br>


<form class="form-horizontal" accept-charset="UTF-8" service="form" action="<?php echo $this->url('inivariable',array('action'=>'add','id'=>$this->inivariable->id)); ?>" method="post">

    <fieldset>

      <div class="form-group">
        <label for="name" class="col-lg-2 col-md-2 control-label">Nombre</label>
        <div class="col-lg-4 col-md-4">
          <input class="form-control" id="name" placeholder="Nombre de la variable" type="text" name="name" value="<?php print $this->form->get('name')->getValue(); ?>">
        </div>
      </div>

      <div class="form-group">
        <label for="value" class="col-lg-2 col-md-2 control-label">Valor</label>
        <div class="col-lg-4 col-md-4">
          <input class="form-control" id="value" placeholder="Valor de la variable" type="text" name="value" value="<?php print $this->form->get('value')->getValue(); ?>">
        </div>
      </div>


      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('inivariable',array('action'=>'list')); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </fieldset>
  </form>

