
<div class="col-lg-12">
    <h1 class="page-header">Device Manager <small>/ Opciones Y Variables</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('devicemanager'); ?>">Device Manager</a></li>
    <li class="active"><a href="#">Opciones Y Variables</a></li>
</div>

<br>
        <p>
            <a class="btn btn-link btn-xs text-info" href="<?php print $this->url('inivariable',array('action'=>'add')); ?>"><i class="fa fa-plus"></i> Nuevo</a>
        </p>


        <?php 
            $opciones = array();
            $variables = array();
            foreach ($this->inivariables as $inivariable) { 
                if(strpos($inivariable->name, "%") !== false){
                    array_push($variables, $inivariable);
                } else {
                    array_push($opciones, $inivariable);
                }
            }
        ?>

        <p class="lead">Opciones</p>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th class="col-lg-4 col-md-4">Nombre</th>
                    <th class="col-lg-4 col-md-4">Valor</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($opciones as $inivariable) { ?>
                <tr id="<?php print $inivariable->id; ?>">
                    <td><?php print $inivariable->name; ?></td>
                    <td><?php print $inivariable->value; ?></td>
                    <td>
                        <a class="btn btn-link btn-xs" href="<?php print $this->url('inivariable',array('action'=>'edit','id'=>$inivariable->id)); ?>"><i class="fa fa-edit"></i> Editar</a>

                        <a class="btn btn-link btn-xs remove" id="<?php print $inivariable->id; ?>"><i class="fa fa-trash"></i> Eliminar</a>
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>

        <hr>
        <p class="lead">Variables</p>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th class="col-lg-4 col-md-4">Nombre</th>
                    <th class="col-lg-4 col-md-4">Valor</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($variables as $inivariable) { ?>
                <tr id="<?php print $inivariable->id; ?>">
                    <td><?php print $inivariable->name; ?></td>
                    <td><?php print $inivariable->value; ?></td>
                    <td>
                        <a class="btn btn-link btn-xs" href="<?php print $this->url('inivariable',array('action'=>'edit','id'=>$inivariable->id)); ?>"><i class="fa fa-edit"></i> Editar</a>

                        <a class="btn btn-link btn-xs remove" id="<?php print $inivariable->id; ?>"><i class="fa fa-trash"></i> Eliminar</a>
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>

<script>
    $(document).ready(function() {
        $("a.remove").click(function(event) {

            var message = "Desea eliminar esta variable? \n\nNOTA: Esta variable puede estar contenida en un fichero INI y al eliminarla puede afectar su funcionamiento";
            var inivariableId = this.id;

            if(confirm(message))
            {
                  $.ajax({
                    url: "<?php echo $this->url('inivariable',array('action'=>'delete')); ?>/" + inivariableId,
                    type: 'GET',
                  })
                  .done(function(data) {

                        if(data.status == 'error'){
                            $("#payload").html("No se pudo eliminar la variable. Intente más tarde.");
                        } else {
                            $( "tr#" + inivariableId ).fadeOut( "slow", function() {
                                $("tr#" + inivariableId).remove();
                            });
                        }

                  });
            }
        });
    });
</script>
