<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('NEXUS')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/ico.png'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/lib/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
                        ->prependStylesheet($this->basePath() . '/lib/font-awesome-4.0.3/css/font-awesome.min.css')
                        ->prependStylesheet($this->basePath() . '/lib/bootstrap-3.1.1/bootswatch/cerulean/bootstrap.min.css')
        ; ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/lib/html5shiv/html5shiv-3.7.0.js')
            ->prependFile($this->basePath() . '/lib/respond/respond-1.4.2.min.js')
            ->prependFile($this->basePath() . '/lib/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
            ->prependFile($this->basePath() . '/lib/moment.min.js')
            ->prependFile($this->basePath() . '/lib/bootstrap-3.1.1/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/lib/jquery-1.11.0/jquery-1.11.0.min.js')
        ; ?>
    
        <style>
            a.navbar-brand {
                font-family: 'Titillium Web', sans-serif !important;
            }

            body {
                background-color: #fafafa;
            }
            
            i.pull-right, i.pull-left {
                margin-top: 3px !important;
            }
            
            div.form-group > div {
                padding-top: 9px;
            }
            
            @font-face {
                font-family: 'Titillium Web';
                font-style: normal;
                font-weight: 400;
                src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(<?php print $this->basePath() . '/fonts/titilliumweb.woff'?>) format('woff');
              }

        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="<?php echo $this->url('home') ?>">Inicio</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aprovisionamiento <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="#"> Nueva orden</a></li>
                              <li><a href="#"> Historial</a></li>
                              <li><a href="#"> Logs</a></li>
                              <li><a href="#"> Pruebas</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recursos <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="<?php echo $this->url('product') ?>"><i class="fa fa-tags fa-fw"></i> Productos</a></li>
                                <li><a href="<?php echo $this->url('service') ?>"><i class="fa fa-play-circle fa-fw"></i> Servicios</a></li>
                                <li><a href="#"><i class="fa fa-sort-numeric-asc fa-fw"></i> Rangos Numéricos</a></li>
                                <li><a href="<?php echo $this->url('device') ?>"><i class="fa fa-phone fa-fw"></i> Device Manager</a></li>
                            </ul>
                        </li>
                            
                        <?php if($this->user->roleId == 1) { ?>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                  <li><a href="<?php echo $this->url('user'); ?>"><i class="fa fa-user fa-fw"></i> Usuarios</a></li>
                                  <li><a href="<?php echo $this->url('role'); ?>"><i class="fa fa-magic fa-fw"></i> Perfiles</a></li>
                                  <li><a href="<?php echo $this->url('group'); ?>"><i class="fa fa-users fa-fw"></i> Grupos</a></li>
                                  <li class="divider"></li>
                                  <li><a href="<?php echo $this->url('preference'); ?>"><i class="fa fa-wrench fa-fw"></i> Preferencias</a></li>
                                  
                                </ul>
                            </li>
                        <?php } ?>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="active dropdown-toggle" data-toggle="dropdown">Bienvenido <?php echo $this->user->name; ?><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href="<?php echo $this->url('profile'); ?>"><i class="fa fa-user fa-fw"></i> Mis Datos</a></li>
                              <li><a href="<?php echo $this->url('auth',array('action' => 'logout')); ?>"><i class="fa fa-sign-out fa-fw"></i> Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <?php echo $this->content; ?>
            <div class="clearfix"></div>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
