<?php echo $this->doctype(); ?>

<html lang="en">

<head>

    <meta charset="utf-8">
    
    <?php echo $this->headTitle('NEXUS')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/ico.png'))
        ->prependStylesheet($this->basePath() . '/css/style.css')
        ->prependStylesheet($this->basePath() . '/css/sb-admin.css')
        ->prependStylesheet($this->basePath() . '/css/plugins/timeline/timeline.css')
        ->prependStylesheet($this->basePath() . '/css/plugins/morris/morris-0.4.3.min.css')
        ->prependStylesheet($this->basePath() . '/lib/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
        ->prependStylesheet($this->basePath() . '/lib/font-awesome-4.3.0/css/font-awesome.min.css')
        ->prependStylesheet($this->basePath() . '/lib/bootstrap-3.1.1/bootswatch/cerulean/bootstrap.min.css')
    ; ?>
    
    <!-- Scripts -->
    <?php echo $this->headScript()
            
        //->prependFile($this->basePath() . '/js/demo/dashboard-demo.js')
        ->prependFile($this->basePath() . '/lib/trimpath-template-1.0.38.js')
        ->prependFile($this->basePath() . '/js/sb-admin.js')
        ->prependFile($this->basePath() . '/js/plugins/morris/morris.js')
        ->prependFile($this->basePath() . '/js/plugins/morris/raphael-2.1.0.min.js')  
        ->prependFile($this->basePath() . '/js/plugins/metisMenu/jquery.metisMenu.js')
            
        //->prependFile($this->basePath() . '/lib/html5shiv/html5shiv-3.7.0.js')
        //->prependFile($this->basePath() . '/lib/respond/respond-1.4.2.min.js')
        ->prependFile($this->basePath() . '/lib/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
        ->prependFile($this->basePath() . '/lib/moment.min.js')
        ->prependFile($this->basePath() . '/lib/bootstrap-3.1.1/js/bootstrap.min.js')
        ->prependFile($this->basePath() . '/lib/jquery-1.11.0/jquery-1.11.0.min.js')
    ; ?>

    <style>
        /*a.navbar-brand {
            font-family: 'Titillium Web', sans-serif !important;
        }*/
        
        .navbar-default {
            background-color: #F6F6F6 !important;
        }
        
        .navbar-inverse, .navbar {
            text-shadow: none !important;
        }

        body {
            background-color: #fafafa;
            padding-top : 53px !important;
            padding-bottom : 0px !important;
        }

        i.pull-right, i.pull-left {
            margin-top: 3px !important;
        }

        div.form-group > div {
            padding-top: 9px;
        }

        /*@font-face {
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: 400;
            src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(<?php print $this->basePath() . '/fonts/titilliumweb.woff'?>) format('woff');
          }*/
          
        legend {
            font-size: 18px !important;
        }
        
        .nexus-active, 
        .nexus-active > a {
            background-color: #FFFFFF !important;
            color: #3399F3 !important;
        }
        
        .nexus-active:hover,
        .nexus-active > a:hover  {
            background-color: #FFFFFF !important;
        }
        
        .navbar-static-side li:hover:not(.nexus-active):not(.sidebar-search), 
        .navbar-static-side li > a:hover:not(.nexus-active):not(.sidebar-search) {
            background-color: #6D94BF !important;
            color: #FFFFFF !important;
        }
        
        #side-menu li {
            box-shadow: inset -10px 0 5px -8px hsla(0,0%,0%,.25);
        }

    </style>

</head>

<body>
    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<?php echo $this->basePath(); ?>"><strong>NEXUS <?php print $_SESSION['platform']; ?></strong>
                    | Cable & Wireless Panamá
                </a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="active dropdown-toggle" data-toggle="dropdown">Bienvenido <?php echo $this->user->name; ?> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="<?php echo $this->url('profile'); ?>"><i class="fa fa-user fa-fw"></i> Mi Perfil</a></li>
                      <li><a href="<?php echo $this->url('auth',array('action' => 'logout')); ?>"><i class="fa fa-sign-out fa-fw"></i> Salir de NEXUS</a></li>
                    </ul>
                </li>
            </ul>

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="ORDEN #CIS ID" id="quick-cisid">
                                <span class="input-group-btn">
                                <button class="btn btn-success" type="button" id="quick-search">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        
                        <li id="home">
                            <a href="<?php echo $this->url('home') ?>"><i class="fa fa-home fa-fw"></i> Inicio</a>
                        </li>

                        <li id="order">
                            <a href="<?php print $this->url('order'); ?>"><i class="fa fa-star fa-fw"></i> Órdenes</a>
                        </li>
                        
                        <?php if($this->user->roleId == 1) { // Administrador?>
                        <li id="resource">
                            <a href="<?php echo $this->url('resource') ?>"><i class="fa fa-hdd-o fa-fw"></i> Recursos</a>
                        </li>
                        <?php } ?>
                        
                        <?php if($this->user->roleId == 1) { // Administrador?>
                        <li id="configuration">
                            <a href="<?php echo $this->url('configuration'); ?>"><i class="fa fa-wrench fa-fw"></i> Configuración</a>
                        </li>
                        <?php } ?>

                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->

            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <?php echo $this->content; ?>
            <div class="clearfix"></div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script>
        /*String.prototype.trimLeft = function(charlist) {
            if (charlist === undefined)
              charlist = "\s";

            return this.replace(new RegExp("^[" + charlist + "]+"), "");
          };
          
        String.prototype.trimRight = function(charlist) {
            if (charlist === undefined)
              charlist = "\s";

            return this.replace(new RegExp("[" + charlist + "]+$"), "");
          };
          
        String.prototype.trim = function(charlist) {
            return this.trimLeft(charlist).trimRight(charlist);
          };*/
        
        $(document).ready(function(){
            /*var mRegexp = /\/[a-zA-Z]*$/;
            var url = $(location).attr('href');
            var match = mRegexp.exec(url);
            var controller = match[0].trim("/");
            $("#"+controller).addClass("nexus-active");*/
            <?php 
                if($_SESSION['current']){
                    print "$('#".$_SESSION['current']."').addClass('nexus-active');";
                }
            ?>

            $("button#quick-search").click(function(event) {
                var cisid = $("input#quick-cisid").val();
                if(cisid != ""){
                    window.location.href = "<?php echo $this->url('order'); ?>/list/"+cisid;
                }
            });

            $("input#quick-cisid").keyup(function(event) {
                if(parseInt(event.which) == 13){
                    var cisid = $("input#quick-cisid").val();
                    if(cisid != ""){
                        window.location.href = "<?php echo $this->url('order'); ?>/list/"+cisid;
                    } 
                }
            });
        });
    

    </script>

</body>

</html>
