<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('NEXUS')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/ico.png'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/lib/bootstrap-3.1.1/bootswatch/cerulean/bootstrap.min.css')
                        ->prependStylesheet($this->basePath() . '/lib/font-awesome-4.0.3/css/font-awesome.min.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/lib/bootstrap-3.1.1/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/lib/jquery-1.11.0/jquery-1.11.0.min.js')
            //->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            //->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>
        <!--<link href='http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
        
        <style>
            body {
                background-color: #eaeaea;
            }
        </style>
    </head>
    <body>
        <div class="top"></div>
        <div class="clearfix"></div>
        <div class="container">
            <?php echo $this->content; ?>
            <footer class="footer navbar-fixed-bottom">
                <p><center><h6>© Copyright <?php echo date('Y') ?> . Cable and Wireless Panama. All rights reserved | Powered by <a href="http://www.quanticvision.com" target="_blank">Quantic Vision</a></h6></center></p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
