
<div class="col-lg-12">
    <h1 class="page-header">Device Manager <small>/ Ficheros INI</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('devicemanager'); ?>">Device Manager</a></li>
    <li class=""><a href="<?php print $this->url('devicetype'); ?>">Dispositivos</a></li>
    <li class="active"><a href="">Editar</a></li>
</div>

<br>


<form class="form-horizontal" accept-charset="UTF-8" service="form" action="<?php echo $this->url('devicetype',array('action'=>'edit','id'=>$devicetype->id)); ?>" method="post">

    <input id="id" type="hidden" name="id" value="<?php print $devicetype->id; ?>">
    
    <fieldset>

      <div class="form-group">
        <label for="type" class="col-lg-2 col-md-2 control-label">Tipo</label>
        <div class="col-lg-4 col-md-4">
          <input class="form-control" id="type" placeholder="Tipo / Nombre" type="text" name="type" value="<?php print $this->form->get('type')->getValue(); ?>">
        </div>
      </div>

      <div class="form-group">
        <label for="ports" class="col-lg-2 col-md-2 control-label">Puertos</label>
        <div class="col-lg-4 col-md-4">
          <input class="form-control" id="ports" placeholder="Puertos analogos" type="text" name="ports" value="<?php print $this->form->get('ports')->getValue(); ?>">
        </div>
      </div>

      <div class="form-group">
        <label for="initemplate_id" class="col-lg-2 col-md-2 control-label">Fichero INI</label>
        <div class="col-lg-4 col-md-4">
	<?php print $this->formSelect($this->form->get('initemplate_id')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="firmware_id" class="col-lg-2 col-md-2 control-label">Firmware</label>
        <div class="col-lg-4 col-md-4">
        <?php print $this->formSelect($this->form->get('firmware_id')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="active" class="col-lg-2 col-md-2 control-label">Activo</label>
        <div class="col-lg-4 col-md-4">
        <?php print $this->formSelect($this->form->get('active')); ?>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('devicetype'); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </fieldset>
  </form>