<!-- QUANTIC GRID -->
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/lib/QGRID/_QG.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {

      _QG.init({

          isFilterEnabled     : true,
          isPaginationEnabled : true,
          isPerPageEnabled    : true,
          isOrderEnabled      : true,
          orderby             : 'active',
          sort                : { default:'desc',alt:'down'},
          hasOptionsColumn    : true,

          loaderImage         : "<?php echo $this->basePath() . '/img/ajax-loader-bar.gif'?>",
          templateDir         : '<?php echo $this->basePath(); ?>/lib/QGRID/templates',
          source              : "<?php echo $this->url('devicetype',array('action'=>'filter'));?>",
          //columns             : ['type','ports','initemplate_id','firmware_id'],
          cols                : [
                                    {   default     :'type',
                                        translated  :'Tipo'  },
                                    {   default     :'ports',
                                        translated  :'Puertos'  },                                       
                                    {   default     :'ini',
                                        translated  :'Fichero ini'  },
                                    {   default     :'firmware',
                                        translated  :'Firmware'  },
                                    {   default     :'active',
                                        translated  :'Activo en Nexus'  },
                                    {   default     :'inbroadsoft',
                                        translated  :'En Broadsoft'  },
                                    {   default     :'options',
                                        translated  :'Opciones'  },
                                ],
           inputs              : [
                                  {
                                    id    :'type',
                                    label :'Tipo',
                                    type  :'text'
                                  },
                                  {
                                    id    :'ports',
                                    label :'Puertos',
                                    type  :'text'
                                  },
                                  {
                                    id    :'initemplate_id',
                                    label :'Fichero INI',
                                    type  :'select',
                                    source: "<?php echo $this->url('ini',array('action'=>'fetchinis'));?>"
                                  },
                                  {
                                    id    :'firmware_id',
                                    label :'Firmware',
                                    type  :'select',
                                    source: "<?php echo $this->url('firmware',array('action'=>'fetchfirmwares'));?>"
                                  },
                                  {
                                    id    :'active',
                                    label :'Activo',
                                    type  :'select',
                                    options : [{label:'Si',value:'1'},{label:'No',value:'0'}]
                                  }
                                ]
      });

      _QGEngine.start();

      $("#sync").click(function(){

            $("#sync i").addClass("fa-spin");
            $("#sync").addClass("disabled");
            $("div._QG_REFRESH").show();
            $("div._QG_LOADER").show();

            var request = $.ajax(
            {
                url     : "<?php echo $this->url('devicetype',array('action'=>'sync'));?>",
                type    : "GET",
                data    : {},
                //async   : false,
            });

            request.done(function(data){
                
                $("#sync i").removeClass("fa-spin");
                $("#sync").removeClass("disabled");

                if(data.status == "success"){
                    _QGEngine.fetch();
                } else {
                    $("div._QG_REFRESH").hide();
                    $("div._QG_LOADER").hide();
                    alert(data.payload);
                }
            });
      });
      
  });
</script>

<div class="col-lg-12">
    <h1 class="page-header">Device Manager <small>/ Dispositivos</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('devicemanager'); ?>">Device Manager</a></li>
    <li class="active"><a href="#">Dispositivos</a></li>
</div>

<br>
        
<p><button type="button" id="sync" class="btn"><i class="fa fa-refresh"></i> Sincronizar con Broadsoft</button></p>

<div id="_QG"></div>

