<script src="<?php print $this->basePath(); ?>/lib/codemirror-4.6/lib/codemirror.js"></script>
<link rel="stylesheet" href="<?php print $this->basePath(); ?>/lib/codemirror-4.6/lib/codemirror.css">
<script src="<?php print $this->basePath(); ?>/lib/codemirror-4.6/mode/scheme/scheme.js"></script>

<style>
    textarea {
        font-size: 13px !important;
    }
    .CodeMirror {
      border: 1px solid lightgray;
    }
</style>

<div class="col-lg-12">
    <h1 class="page-header">Device Manager <small>/ Ficheros INI</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('devicemanager'); ?>">Device Manager</a></li>
    <li class=""><a href="<?php print $this->url('ini',array('action'=>'list')); ?>">Ficheros INI</a></li>
    <li class="active"><a href="">Editar</a></li>
</div>

<br>


<form class="form-horizontal" accept-charset="UTF-8" service="form" action="<?php echo $this->url('ini',array('action'=>'edit','id'=>$this->initemplate->id)); ?>" method="post">
    <input id="id" type="hidden" name="id" value="<?php print $this->initemplate->id; ?>">
    <fieldset>

      <div class="form-group">
        <label for="name" class="col-lg-2 col-md-2 control-label">Nombre</label>
        <div class="col-lg-4 col-md-4">
          <input class="form-control" id="name" placeholder="Nombre" type="text" name="name" value="<?php print $this->form->get('name')->getValue(); ?>">
        </div>
      </div>

      <div class="form-group">
        <label for="description" class="col-lg-2 col-md-2 control-label">Descripción</label>
        <div class="col-lg-4 col-md-4">
          <input class="form-control" id="description" placeholder="Descripción de la plantilla" type="text" name="description" value="<?php print $this->form->get('description')->getValue(); ?>">
        </div>
      </div>

     

      <div class="form-group"> 
      	<div class="col-lg-12 col-md-12">
        	<label>Fichero INI</label><br>
          	<textarea id="template" placeholder="Cuerpo del INI" name="template" rows="50" cols="40"><?php print $this->form->get('template')->getValue(); ?></textarea>
        </div>
      </div>


      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('ini',array('action'=>'list')); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </fieldset>
  </form>

<script>
      var dummy = {
        attrs: {
          color: ["red", "green", "blue", "purple", "white", "black", "yellow"],
          size: ["large", "medium", "small"],
          description: null
        },
        children: []
      };

      var tags = {
        "!top": ["top"],
        "!attrs": {
          id: null,
          class: ["A", "B", "C"]
        },
        top: {
          attrs: {
            lang: ["en", "de", "fr", "nl"],
            freeform: null
          },
          children: ["animal", "plant"]
        },
        animal: {
          attrs: {
            name: null,
            isduck: ["yes", "no"]
          },
          children: ["wings", "feet", "body", "head", "tail"]
        },
        plant: {
          attrs: {name: null},
          children: ["leaves", "stem", "flowers"]
        },
        wings: dummy, feet: dummy, body: dummy, head: dummy, tail: dummy,
        leaves: dummy, stem: dummy, flowers: dummy
      };

      function completeAfter(cm, pred) {
        var cur = cm.getCursor();
        if (!pred || pred()) setTimeout(function() {
          if (!cm.state.completionActive)
            cm.showHint({completeSingle: false});
        }, 100);
        return CodeMirror.Pass;
      }

      function completeIfAfterLt(cm) {
        return completeAfter(cm, function() {
          var cur = cm.getCursor();
          return cm.getRange(CodeMirror.Pos(cur.line, cur.ch - 1), cur) == "<";
        });
      }

      function completeIfInTag(cm) {
        return completeAfter(cm, function() {
          var tok = cm.getTokenAt(cm.getCursor());
          if (tok.type == "string" && (!/['"]/.test(tok.string.charAt(tok.string.length - 1)) || tok.string.length == 1)) return false;
          var inner = CodeMirror.innerMode(cm.getMode(), tok.state).state;
          return inner.tagName;
        });
      }

$(document).ready(function(){

      var editor = CodeMirror.fromTextArea(document.getElementById("template"), 
      {
        mode		: "scheme",
        lineNumbers	: true,
        column 		: 100,
        extraKeys: {
          "'<'"	: completeAfter,
          "'/'"	: completeIfAfterLt,
          "' '"	: completeIfInTag,
          "'='"	: completeIfInTag,
          "Ctrl-Space": "autocomplete"
        },
        hintOptions: {schemaInfo: tags}
      }); 

});
</script>
