<div class="col-lg-12">
    <h1 class="page-header">Device Manager <small>/Ficheros INI</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('devicemanager'); ?>">Device Manager</a></li>
    <li class="active"><a href="#">Ficheros INI</a></li>
</div>

<br>

 <div class="col-lg-12 col-md-12">
    

</div>
