<div class="col-lg-12">
    <h1 class="page-header">Device Manager <small>/ Ficheros INI</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('devicemanager'); ?>">Device Manager</a></li>
    <li class="active"><a href="#">Ficheros INI</a></li>
</div>

<br>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($this->initemplates as $initemplate) { ?>
                <tr id="<?php print $initemplate->id; ?>">
                    <td><?php print $initemplate->name; ?></td>
                    <td><?php print $initemplate->description; ?></td>
                    <td style="width: 150px;">
                        <a class="btn btn-link btn-xs text-warning" href="<?php print $this->url('ini',array('action'=>'edit','id'=>$initemplate->id)); ?>"><i class="fa fa-edit"></i> Editar</a>
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>


