
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Tipo de Cliente</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class="active"><a href="<?php print $this->url('typec'); ?>">Tipo de Cliente</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('typec',array("action"=>"add")); ?>">Nueva Tipo</a>
        <br>Crea una nueva estructura
    </p>

    <p>
        <a href="<?php print $this->url('typec',array("action"=>"list")); ?>">Listado de Tipo de Cliente</a>
        <br>Listado de todos los Tipos de Cliente
    </p>

</div>