<style>
    .panel {
        padding-left: 0px;
        padding-right: 0px;
    }

</style>

<?php if(in_array($currentUser->roleId, array(1,2)) ) { // Administrador o asignador ?>
<p>&nbsp;</p>
<div class="col-lg-3 col-md-3">
    <a class="text-success" href="<?php print $this->url('order',array('action'=>'add')); ?>"><i class="fa fa-plus-circle fa-2x"></i> NUEVA ORDEN</a>
    <!--<a class="btn btn-primary"><i class="fa fa-search"></i></a>-->
</div>
<?php } ?>

<div class="clearfix"><p>&nbsp;</p><p>&nbsp;</p></div>

<div class="col-lg-7 col-md-7">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>ÓRDENES RECIENTES</strong>
        </div>
        <div class="panel-body" id="panel-body-orders">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>CIS ID</th>
                        <th>Cliente</th>
                        <th>Escenario</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><img src="<?php echo $this->basePath() . '/img/ajax-loader-bar.gif'?>" alt=""></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-lg-5 col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            Estados de un orden
        </div>
        <div class="panel-body">
            <p><b>Borrador</b> El personal de asignaciones no ha terminado de crear la orden.</p>
            <p><b>Nueva</b> La orden ha sido creada y está lista para ser aprovisionada Broadsoft</p>
            <p><b>Aprovisionada</b> La orden se ha aprovisionado en broadsoft. No se ha hecho la instalación en caso que lo requiriera.</p>
            <p><b>Completada</b> Se he terminado el aprovisionamiento y la instalación en caso de que aplique.</p>
            <p><b>Inválida</b> Poseé algún campo inválido.</p>
            <p><b>En Error</b> No pudo procesarse.</p>
        </div>
    </div>
</div>

<div class="col-lg-6 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>EVENTOS RECIENTES</strong>
        </div>
        <div class="panel-body"><?php //print_r($currentUser); ?>
            <p><span class="text-muted">20-08-2015 05:50 pm</span> <span class="text-info">Admin se ha iniciado sesión</span></p>
            <p><span class="text-muted">20-08-2015 05:45 pm</span> <span class="text-danger">Broadsoft se ha desconectado</span></p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function($) {

        setInterval(function(){ 
            $.ajax({
                url: "<?php echo $this->url('order',array('action'=>'filter'));?>",
                type: 'POST',
                dataType: 'json',
                data: {
                    limit  : '5',
                    offset : '0',
                    order  : 'date_created',
                    sort   : 'desc'
                },
            })
            .done(function(data) {
                $("div#panel-body-orders table tbody").html("");
                for(var i = 0; i < data.payload.items.length; i++){
                    var order = data.payload.items[i];
                    var row = "<tr>";
                    var row = row + "<td>"+order.cisid+"</td>";
                    var row = row + "<td>"+order.group+"</td>";
                    var row = row + "<td>"+order.case+"</td>";
                    var row = row + "<td>"+order.status+"</td>";
                    var row = row + "</tr>";
                    $("div#panel-body-orders table tbody").append(row);
                }
                
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
        }, 5000);
        
    });
</script>
