
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Dominios</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class="active"><a href="<?php print $this->url('domain'); ?>">Dominios</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('domain',array("action"=>"add")); ?>">Nuevo dominio</a>
        <br>Crea un nuevo dominio para aprovisionar
    </p>

    <p>
        <a href="<?php print $this->url('domain',array("action"=>"list")); ?>">Listado de dominios</a>
        <br>Listado de todos los dominios
    </p>

</div>