
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Dominios</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('domain'); ?>">Dominios</a></li>
    <li class="active"><a href="#">Sincronización</a></li>
</div>

<br>

<fieldset>

    <?php foreach ($this->payload as $key => $value) { ?>
        <div class="alert alert-<?php print $key; ?>" > <?php print $value; ?></div>
        <div class="clearfix"></div>
    <?php } ?>


    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div class="col-lg-5 col-md-5 col-lg-offset-4">
        <a href="<?php print $this->url('domain'); ?>" class="btn btn-info">Regresar</a>
    </div>

</fieldset>
