
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Productos</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('product'); ?>">Productos</a></li>
    <li class="active"><a href="#">Nuevo</a></li>
</div>

<br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo $this->url('product',array('action'=>'add')); ?>" method="post">
    <fieldset>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formInput($this->form->get('name')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Proveedor De Servicios</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($this->form->get('providerId')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Dominio</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($this->form->get('domainId')); ?>
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Servicios:</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($this->form->get('services')); ?>
        </div>
      </div>

      <p>&nbsp;</p>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
        	<!--
            <a data-toggle="modal" data-target="#myModal" class="btn btn-default">Servicios</a>
           -->
            <a href="<?php print $this->url('product'); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </fieldset>
  </form>
  
  <!-- Servicios Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Servicio</h4>
      </div>
      <div class="modal-body">
          <p class="lead">seleccione los servicios?</p>
      </div>
      <table class="table" id="services">
    <thead>
        <tr>
            <th>Nombre de los Servicios</th>
            <th>Seleccione</th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
  	
    $("select#providerId").change(function(){
    	
      var providerId = $("select#providerId").val();
      $.ajax({
        url   : "<?php print $this->url('domain',array('action'=>'fetchbyproviderid')); ?>/" + providerId,
        type  :  'get',
      }).done(function(result){
        var options = $("select#domainId");
        options.empty();
        $.each(result.domains, function() {
            options.append($("<option />").val(this.id).text(this.name));
        });
      });
    });
    
    
      
      
      
      
  });  
</script>

