
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Productos</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('product'); ?>">Productos</a></li>
    <li><a href="<?php print $this->url('product',array('action'=>'list')); ?>">Listado</a></li>
    <li class="active"><a href="#">Editar</a></li>
</div>

<br>

<form class="form-horizontal" accept-charset="UTF-8" product="form" action="<?php echo $this->url('product',array('action'=>'edit','id'=>$this->product->id)); ?>" method="post">
    <?php print $this->formHidden($this->form->get('id')); ?>
    <fieldset>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Nombre</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formInput($this->form->get('name')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Proveedor De Servicios</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($this->form->get('providerId')); ?>
        </div>
      </div>

      <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Dominio</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($this->form->get('domainId')); ?>
        </div>
      </div>

        <div class="form-group">
        <label for="" class="col-lg-4 col-md-4 control-label">Servicios:</label>
        <div class="col-lg-5 col-md-5">
          <?php print $this->formSelect($this->form->get('services')); ?>
        </div>
      </div>

      <p>&nbsp;</p>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
        
            <a href="<?php print $this->url('product'); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </fieldset>
  </form>


<script type="text/javascript">
  $(document).ready(function(){

    

    $("select#providerId").change(function(){
      var providerId = $("select#providerId").val();
      $.ajax({
        url   : "<?php print $this->url('domain',array('action'=>'fetchbyproviderid')); ?>/" + providerId,
        type  :  'get',
      }).done(function(result){
        var options = $("select#domainId");
        options.empty();
        $.each(result.domains, function() {
            options.append($("<option />").val(this.id).text(this.name));
        });
      });
    });



var select = document.getElementById( 'services' );
var productId = $("#id").val();

 $.ajax({
  url   : "<?php print $this->url('productservices',array('action'=>'fetchbyServices')); ?>/" + productId,
  type  :  'get',
}).done(function(result){

    for ( var i = 0; i < select.options.length; i++ )
    {
      o = select.options[i];
      var valor_select = o.value;
      for ( var j = 0; j < result.length; j++ )
      {
        var_id_services = result[j]['id_services'];
        if(var_id_services==valor_select){o.selected=true;}        
      }

    }
});
  });  
</script>