
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Productos</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class="active"><a href="<?php print $this->url('product'); ?>">Productos</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('product',array("action"=>"add")); ?>">Nuevo producto</a>
        <br>Crea un nuevo producto para aprovisionar
    </p>

    <p>
        <a href="<?php print $this->url('product',array("action"=>"list")); ?>">Listado de productos</a>
        <br>Listado de todos los productos
    </p>

</div>