
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Estructura</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('structure'); ?>">Estructura</a></li>
    <li class="active"><a href="#">Nuevo</a></li>
</div>


<br>

<form class="form-horizontal" accept-charset="UTF-8" action="<?php echo $this->url('structure',array('action'=>'add')); ?>" method="post">
    <fieldset>

      <div class="form-group">
        <label for="username" class="col-lg-4 col-md-4 control-label">Nombre de los Estuctura:</label>
        <div class="col-lg-5 col-md-5">
           <?php print $this->formInput($this->form->get('name')); ?>
        </div>
      </div>

       <div class="form-group">
        <label for="username" class="col-lg-4 col-md-4 control-label">Descripción:</label>
        <div class="col-lg-5 col-md-5">
           <?php print $this->formInput($this->form->get('description')); ?>
        </div>
      </div>

       <div class="form-group">
        <label for="username" class="col-lg-4 col-md-4 control-label">Nivel:</label>
        <div class="col-lg-5 col-md-5">
         <?php print $this->formSelect($this->form->get('structure')); ?>
        </div>
      </div>

      

      <p>&nbsp;</p>

      <div class="form-group">
        <div class="col-lg-5 col-md-5 col-lg-offset-4">
            <a href="<?php print $this->url('structure',array('action'=>'list')); ?>" class="btn btn-default">Cancelar</a>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </div>

    </fieldset>
  </form>
