
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Estructura</small></h1>
</div>

<div class="clearfix"></div>

<div class="nav nav-tabs">
    <li class=""><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li class="active"><a href="<?php print $this->url('structure'); ?>">Estructura</a></li>
</div>

<br>

<div class="col-lg-12 col-md-12">
    
    <p>
        <a href="<?php print $this->url('structure',array("action"=>"add")); ?>">Nueva estructura</a>
        <br>Crea una nueva estructura
    </p>

    <p>
        <a href="<?php print $this->url('structure',array("action"=>"list")); ?>">Listado de estructura</a>
        <br>Listado de todos las estructura
    </p>

</div>