
<div class="col-lg-12">
    <h1 class="page-header">Recursos <small>/ Estructura</small></h1>
</div>

<div class="nav nav-tabs">
    <li><a href="<?php print $this->url('resource'); ?>">Recursos</a></li>
    <li><a href="<?php print $this->url('structure'); ?>">Estructura</a></li>
    <li class="active"><a href="#">Listado</a></li>
</div>

<br>

<table class="table">
    <thead>
        <tr>
            <th>Nombre de los Estuctura</th>
            <th>Nivel</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($this->structure as $structure) { ?>
        <tr id="<?php print $structure->id; ?>" class="<?php //if($structure->active == 0) { ?> text-muted<?php //} ?> text-<?php //print $structure->class; ?>"  >
            <td><?php print $structure->name; ?></td>
            <td><?php print $structure->structure; ?></td>
            
            <td>
                <a class="btn btn-link btn-xs text-warning" href="<?php print $this->url('structure',array('action'=>'edit','id'=>$structure->id)); ?>"><i class="fa fa-edit"></i> Editar</a>
                <a class="btn btn-link btn-xs text-danger"  data-toggle="modal" data-target="#myModal" data-id="<?php print $structure->id; ?>"><i class="fa fa-trash-o"></i> Eliminar</a>
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>

<!-- Eliminar Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Estructura</h4>
      </div>
      <div class="modal-body">
          <p class="lead">Deseas eliminar esta estructura?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

var structure = {
    
    id          : null,
    deleteUrl   : "<?php print $this->url('structure',array('action'=>'delete')); ?>",
    deleteModal : $('#myModal'),
    
    delete : function(){
        var _this = structure;
        if(_this.id === null) return;
        
        $.ajax({
            url :   _this.deleteUrl + "/" + _this.id
        }).done(function( data ) {
            
            if ( console && console.log ) {
                console.log( data );
            }
            
            _this.deleteModal.modal('hide');
            $('tr#'+_this.id).addClass('text-danger');
            $('tr#'+_this.id).fadeOut(2000);
        }).fail(function( data ){
            if ( console && console.log ) {
                console.log( data );
            }
        });
    }
};

$(document).ready(function(){
    /*
     * Al hacer click sobre el link Eliminar de cualquier usuario.
     */
    $("a.text-danger").click(function(){
        structure.id = $(this).data("id");
    });
    
     /*
     * Al hacer click sobre el link Eliminar del modal.
     */
    $("button.btn-danger").click(structure.delete);
    
    /*
     * Cuando el modal se cierra.
     */
    structure.deleteModal.on('hidden.bs.modal', function (e) {
        structure.id = null;
    });

});
</script>
